/* src/assets/styles/utils/_colors.scss  */

$lightseagreen: #29c59c;
$darkslategray: #1f273e;

$dark-navy-blue: #000713;
$charcoal-grey: #30303a;
$light-periwinkle: #c8dcff;
$marine-blue: #002868;
$very-light-pink: #cccccc;
$green-blue: #00ac9a;
$maize: #ffce45;
$butterscotch: #febe44;
$camel: #d9a547;
$pale-grey: #f7f9fa;
$black: #212121;
$grass: #43b027;
$aqua-blue: #02dfec;
$cornflower: #6e95fa;
$rosy-pink: #f56c89;
$cornflower-two: #6d94f8;
$sky-blue: #6dc7ff;
$light-violet: #e6abff;
$bright-blue: #0075ff;
$electric-purple: #c822ff;
$goldenrod: #f0b90a;
$bright-green: #00f93e;
$hot-magenta: #ff00ca;
