/* src/assets/styles/pages/_index.scss  */

.home__page {
  @import '@~styles/sections/index/hero';
  @import '@~styles/sections/index/features';
  @import '@~styles/sections/index/platform';
  @import '@~styles/sections/index/computer';
  @import '@~styles/sections/index/team';
  @import '@~styles/sections/index/signup';
}

/*
  Responsive
*/

@media screen and(max-width:  $grid-width) {
  .home__page {
    .signup,
    .features,
    .team,
    .hero__container {
      padding-left: 15px;
      padding-right: 15px;
    }

    // Hero
    .hero__info {
      margin-left: -20px;
    }
  }
}

@media screen and(max-width: 1366px) {
  .home__page {
    // Platform
    .platform__graphic {
      max-width: 850px;
    }
    .platform__graphic-wave {
      width: 70%;
      right: -20px;
    }
  }
}

@media screen and(max-width: 1280px) {
  .home__page {
    // Computer
    .computer {
      padding-bottom: 50px;
    }
    .computer__parts-container {
      transform: scale(0.8);
    }
    .computer__wires--left {
      left: -100px;
      transform: scale(0.8);
    }
    .computer__wires--right {
      right: -100px;
      transform: scale(0.8) scaleX(-1);
    }
  }
}

@media screen and(max-width: 1100px) {
  .home__page {
    // Platform
    .platform__container {
      padding-left: 50px;
    }
    .platform__details {
      max-width: 320px;
    }
  }
}

@media screen and(max-width: 1000px) {
  .home__page {
    // Hero
    .hero {
      height: auto;
    }
    .hero__container {
      flex-direction: column;
      align-items: center;
    }
    .hero__info {
      max-width: 100%;
      margin-left: 0;
      margin-top: 20px;
      width: 100%;
    }
    .hero__description {
      max-width: 100%;
      width: 100%;
    }

    // Features
    .features__container {
      padding-top: 100px;
    }

    // Platform
    .platform__container {
      flex-direction: column;
      padding-left: 15px;
      padding-right: 15px;
    }
    .platform__title {
      max-width: 100%;
    }
    .platform__details {
      align-self: stretch;
      max-width: 100%;
      width: 100%;
    }
    .platform__list {
      @include isFlex(flex-start, space-between, row, nowrap);
    }
    .platform__item {
      & + .platform__item {
        margin-top: 0;
        margin-left: 15px;
      }
    }
    .platform__graphic {
      position: relative;
      max-width: 100%;
      right: 0;
      margin-left: 0;
      top: 0;
    }
    .platform__graphic-wave {
      width: 100%;
      right: 0;
    }

    // Computer
    .computer {
      margin-top: 80px;
    }

    // Team
    .team__container {
      padding-left: 0;
    }
  }
}

@media screen and(max-width: 900px) {
  .home__page {
    // Computer
    .computer {
      padding-bottom: 0;
    }
    .computer__container {
      padding: 0 15px;
    }

    // Team
    .team__list {
      @include isFlex(initial, center, row);
      margin-top: 20px;
    }
    .team__members {
      justify-content: center;
    }
    .team__member {
      margin: 15px;
      padding-top: 45px;
    }
    .team__members--center {
      margin-top: 0;
      order: 2;
    }
    .team__members--center:not(:first-child) {
      margin-top: 0;
    }
    .team__members--main {
      order: 0;
    }
    .team__members--justify {
      margin-top: 0;
    }
  }
}

@media screen and(max-width: 768px) {
  .home__page {
    // Features
    .features__container {
      flex-direction: column;
    }
    .feature__description {
      max-width: 100%;
      width: 100%;
    }
    .feature {
      max-width: 100%;
      width: 100%;
      & + .feature {
        margin-left: 0;
        margin-top: 20px;
      }
    }

    // Platform
    .platform__container {
      padding-top: 40px;
    }
    .platform__list {
      flex-direction: column;
    }
    .platform__item {
      & + .platform__item {
        margin-left: 0;
        margin-top: 35px;
      }
    }
    .platform__item-description {
      max-width: 100%;
    }
    .platform__item-title--last {
      max-width: 100%;
    }

    // Computer
    .computer {
      margin-top: 0;
    }
  }
}

@media screen and(max-width: 720px) {
  .home__page {
    // Hero
    .hero {
      padding-top: 15px;
    }
    #hero__form-input,
    #hero__form-label {
      width: auto;
      display: block;
    }
    #hero__form-label {
      top: -20px;
      opacity: 1;
      width: auto;
    }
    #hero__form-text {
      bottom: -25px;
      left: 0;
    }

    // Signup
    .signup__container {
      padding-left: 0;
    }

    // Form
    .form__inputwithbutton {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      margin: 8px auto 0;
    }
    .form__input {
      max-width: 100%;
    }
    .form__inputwithbutton-input {
      align-self: stretch;
    }
    .form__text {
      margin-top: 5px;
      margin-left: 0;
    }

    // Platform
    .platform {
      margin-top: 60px;
    }

    // Computer
    .computer__description {
      max-width: 100%;
    }
    .computer__parts-container {
      top: 0;
      transform: scale(0.6);
    }
    .computer__wires {
      top: 160px;
    }
    .computer__wires--left {
      left: -130px;
    }
    .computer__wires--right {
      right: -130px;
    }

    // Team
    .team__container {
      padding-bottom: 40px;
    }

    .signup__container {
      padding-top: 40px;
    }
  }
}

@media screen and(max-width: 640px) {
  .home__page {
    // Hero
    .hero {
      padding-top: 10px;
    }
    // Hero
    #globe {
      width: 390px;
      height: 390px;
    }
    .hero__globe-particles {
      top: 20px;
      transform: scale(0.8);
    }
  }
}

@media screen and(max-width: 520px) {
  .home__page {
    // Computer
    .computer__parts-container {
      left: 0;
      width: 450px;
      height: 450px;
      transform: scale(0.6);
    }
    .computer__parts-screen2 {
      width: 59%;
    }
    .computer__parts-screen1 {
      width: 53%;
      left: 35px;
      top: -10px;
    }
    .computer__parts-shield {
      width: 150px;
    }
  }
}

@media screen and(max-width: 500px) {
  .home__page {
    // Signup
    .signup__title {
      max-width: 100%;
    }
  }
}

@media screen and(max-width: 480px) {
  .home__page {
    // Hero
    #globe {
      width: 380px;
      height: 380px;
    }
    .hero__globe-particles {
      top: 10px;
      transform: scale(0.6);
    }

    // Form
    .form__inputwithbutton {
      width: 100%;
    }

    // Computer
    .computer__wires {
      top: 0;
    }
    .computer__wires--left {
      left: -60px;
      transform: scale(1);
      top: 100px;
    }
    .computer__wires--right {
      right: -200px;
      display: none;
    }

    // Team
    .team__container {
      padding-top: 60px;
    }
  }
}

@media screen and(max-width: 400px) {
  .home__page {
    // Hero
    #globe {
      width: 320px;
      height: 320px;
    }
    .hero__globe-particles {
      top: -20px;
      transform: scale(0.6);
    }

    // Computer
    .computer__parts-container {
      width: 380px;
      height: 450px;
    }
    .computer__parts-shield {
      width: 130px;
      top: -90px;
      bottom: auto;
    }
    .computer__parts-lock {
      width: 110px;
      bottom: 60px;
    }
    .computer__parts-key {
      width: 150px;
      bottom: 100px;
      right: 40px;
    }
    .computer__wires--left {
      left: -100px;
    }
  }
}

@media screen and(max-width: 340px) {
  .home__page {
    // Computer
    .computer__parts-container {
      left: -20px;
    }
  }
}
