/* src/assets/styles/pages/_index.scss  */

.home__page {
  overflow-x: hidden;
  .hero {
    background: radial-gradient(circle 700px at 100% 0, $charcoal-grey, $dark-navy-blue),
                      linear-gradient(90deg, rgba(255,255,255,0.1) 1px, transparent 1px);
    height: 700px;
    padding-top: 26px;
  }
  .hero__container {
    @include isFlex(flex-start, center);
    flex: 1;
    margin-top: 100px;
  }
  #globe {
    width: 380px;
    height: 380px;
  }

  .hero__info {
    max-width: 500px;
    margin-left: 170px;
    padding-top: 35px;
  }
  .hero__backedby-text {
    @extend .upper;
    font-weight: 700;
    font-size: 10px;
    background: $goldenrod;
    color: $black;
    padding: 0 8px;
    line-height: 24px;
    letter-spacing: 0.5px;
    display: inline-block;
  }
  .hero__backedby-img {
    height: 24px;
    display: inline-block;
    vertical-align: middle;
  }
  .hero__title {
    @extend .section__title;
    color: white;
    margin-top: 16px;
  }
  .hero__description {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.5;
    color: $light-periwinkle;
  }
  .hero__signup {
    @include isFlex(center, flex-start);
    margin-top: 40px;
  }
  #hero__form-inputwithbutton__input {
    flex: unset;
  }
  #hero__form-label {
    width: 0;
    display: none;
  }
  #hero__form-input {
    width: 0;
    display: none;
    &.active {
      display: block;
      animation: largeInput 2s 1;
    }
  }

  // Features
  .features {
    margin-top: 37px;
  }
  .features__container {
    @include isFlex(flex-start, space-between);
    max-width: $grid-width;
    margin: 0 auto;
  }
  .feature {
    @include isFlex(flex-start, space-between);
    flex: 1;
    max-width: 355px;
    & + .feature {
      margin-left: 50px;
    }
  }
  .feature__icon {
    width: 40px;
  }
  .feature__info {
    margin-left: 24px;
    flex: 1;
  }
  .feature__title {
    font-size: 24px;
    font-weight: 500;
    color: white;
  }
  .feature__description {
    max-width: 280px;
    margin-top: 21px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: $light-periwinkle;
  }

  // Platform

  .platform {
    background-image: radial-gradient(circle 700px at 0 0, $charcoal-grey, $dark-navy-blue);
    padding-top: 100px;
    margin-top: 120px;
    position: relative;
  }
  .platform__container {
    @include isFlex(center, initial);
    max-width: $grid-width;
    margin: 0 auto;
    padding-left: 100px;
  }

  .platform__title {
    @extend .section__title;
    max-width: 300px;
  }
  .platform__list {
    margin-top: 70px;
    max-width: 385px;
  }
  .platform__item {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: -25px;
      left: -100px;
      width: 160px;
      height: 53px;
      opacity: 0.2;
      background-image: linear-gradient(to right, rgba(200, 220, 255, 0), $light-periwinkle);
    }
    & + .platform__item {
      margin-top: 75px;
    }
  }

  .platform__item-title {
    font-size: 20px;
    font-weight: 500;
    display: block;
  }
  .platform__item-title--last {
    max-width: 350px;
  }
  .platform__item-description {
    font-size: 16px;
    font-weight: 400;
    color: $light-periwinkle;
    margin-top: 8px;
    max-width: 352px;
    line-height: 1.38;
  }
  .platform__item-description--first {
    max-width: 310px;
  }

  .platform__technologies {
    @include isFlex(center, initial);
    margin-top: 24px;
  }
  .platform__technology-img {
    & + .platform__technology-img {
      margin-left: 24px;
    }
  }

  .platform__graphic {
    margin-left: 93px;
    flex: 1;
    position: absolute;
    max-width: 850px;
    right: -180px;
  }
  .platform__graphic-img {
    max-width: 100%;
    display: block;
    z-index: 2;
    position: relative;
  }
  .platform__graphic-wave {
    position: relative;
    right: -30px;
  }
  .platform__graphic-wave--top {
    bottom: -60px;
    z-index: 1;
  }
  .platform__graphic-wave--bottom {
    top: -60px;
    z-index: 1;
  }


  // Computer
  .computer {
    margin-top: 195px;
    padding-bottom: 150px;
    position: relative;
  }
  .computer__container {
    max-width: $grid-width;
    margin: 0 auto;
    padding-left: 130px;
    position: relative;
  }
  .computer__info {
    position: relative;
    z-index: 2;
  }
  .computer__title {
    @extend .section__title;
  }
  .computer__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.38;
    color: $light-periwinkle;
    margin-top: 24px;
    max-width: 436px;
  }
  .computer__parts-container {
    position: relative;
    top: -50px;
    left: 40px;
    right: 0;
    margin: auto;
    max-width: 520px;
    min-height: 530px;
    z-index: 1;
  }
  .computer__parts-laptop {
    max-width: 520px;
    display: block;
  }
  .computer__part {
    position: absolute;
    animation-name: floating;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .computer__parts-screen2 {
    top: -40px;
    left: 20px;
    z-index: 1;
    max-width: 322px;
    animation-duration: 7s;
  }
  .computer__parts-screen1 {
    top: -30px;
    left: 50px;
    z-index: 2;
    max-width: 292px;
    animation-duration: 6s;
  }
  .computer__parts-lock {
    left: 0;
    bottom: 20px;
    z-index: 2;
    max-width: 137px;
    animation-duration: 6.5s;
  }
  .computer__parts-shield {
    bottom: 80px;
    right: -10px;
    z-index: 2;
    max-width: 178px;
    animation-duration: 5.5s;
  }
  .computer__parts-key {
    right: 50px;
    bottom: 70px;
    z-index: 2;
    max-width: 175px;
    animation-duration: 5s;
  }
  .computer__wires {
    position: absolute;
    top: 250px;
  }
  .computer__wires path {
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    animation: dash 6s ease-in-out infinite alternate;
  }
  .computer__wires--left {
    left: 0;
  }
  .computer__wires--right {
    right: 0;
    transform: scaleX(-1);
  }

  // Signup
  .signup {
    margin-top: 80px;
  }
  .signup__container {
    max-width: $grid-width;
    margin: 0 auto;
    padding-left: 130px;
    transition: $transition25;
  }
  .signup__title {
    @extend .section__title;
    max-width: 500px;
  }


  // Form
  .form {
    margin-top: 45px;
    max-width: 650px;
  }
  .form__label {
    @extend .upper;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .form__inputwithbutton {
    @include isFlex(center, initial);
    margin-top: 8px;
    transition: $transition25;
  }
  .form__inputwithbutton-input {
    @include isFlex(center, initial);
    flex: 1;
  }
  .form__input {
    height: 40px;
    border: solid 1px #4a90e2;
    background-color: $pale-grey;
    padding: 0 13px;
    max-width: 360px;
    flex: 1;
    transition: $transition25;
  }
  .form__button {
    @include isFlex(center, center);
    @extend .button--green;
    height: 40px;
    width: 40px;
  }
  .form__button-svg {

  }
  .form__text {
    @extend .upper;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 17px;
    transition: $transition25;
  }

}


/*
  Responsive
*/

@media screen and(max-width:  $grid-width) {
  .signup {
    padding-left: 15px;
    padding-right: 15px;

  }
}

@media screen and(max-width: 720px) {
  .home__page {

    // Hero
    .hero {
      padding-top: 15px;
    }

    // Signup
    .signup__container {
      padding-left: 0;
    }

    // Form
    .form__label {
      text-align: center;
    }
    .form__inputwithbutton {
      flex-direction: column;
      justify-content: center;
      width: 90%;
      margin: 8px auto 0;
    }
    .form__input {
      max-width: 100%;
    }
    .form__inputwithbutton-input {
      align-self: stretch;
    }
    .form__text {
      margin-top: 5px;
      margin-left: 0;
    }

  }
}

@media screen and(max-width: 640px) {
  .home__page {
    .hero {
      padding-top: 10px;
    }
  }
}

@media screen and(max-width: 500px) {
  .home__page {
    // Signup
    .signup__title {
      max-width: 100%;
    }
  }
}


@media screen and(max-width: 480px) {
  .home__page {

    // Form
    .form__inputwithbutton {
      width: 100%;
    }
  }
}
