// Team
.team {
  background: $patternLines, radial-gradient(circle 700px at 100% 100%, $charcoal-grey, $dark-navy-blue);
  transition: $transition25;
  position: relative;
}
.team__container {
  transition: $transition25;
  max-width: $grid-width;
  margin: 0 auto;
  padding-left: 100px;
  padding-bottom: 80px;
  padding-top: 75px;
}
.team__title {
  @extend .section__title;
  max-width: 340px;
}
.team__list {
  @include isFlex(initial, initial, column);
  margin-top: 10px;
}
.team__members {
  @include isFlex(flex-start, space-between);
}
.team__members--first {
  z-index: 1;
}
.team__members--justify {
  margin-top: -140px;
}
.team__members--center {
  justify-content: center;
}
.team__members--center:not(:first-child) {
  margin-top: -40px;
}
.member__photo {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 180px;
  height: 180px;
  z-index: 2;
  &:before {
    @extend .pseudo-100;
    top: -45px;
    left: -45px;
    width: 180px;
    height: 180px;
    background-image: radial-gradient(rgba(255,255,255,0.25) 1px, transparent 1px), radial-gradient(rgba(255,255,255,0.25) 1px, transparent 1px);
    background-size: 20px 20px;
    z-index: -1;
  }
}
.member__photo-image {
  width: 100%;
}
.member__info {
  color: $light-grey-blue;
  font-size: 16px;
  font-style: italic;
  line-height: 1.38;
  & + .member__info {
    margin-top: 2px;
  }
}
.member__name-container {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 16px;
  margin-top: 24px;
}
.member__name {
  display: inline-block;
  color: white;
  padding-right: 10px;
}
.member__role {
  font-style: italic;
  color: $light-periwinkle;
  padding-left: 10px;
}
