//- Features
article.features
  .features__container
    article.feature
      svg.feature__icon(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40')
        defs
          linearGradient#decentralized-a(x1='49.999%' x2='49.999%' y1='-2.404%' y2='102.613%')
            stop(offset='0%' stop-color='#C8DCFF')
            stop(offset='100%' stop-color='#0075FF')
          linearGradient#decentralized-b(x1='49.999%' x2='49.999%' y1='-2.404%' y2='102.613%')
            stop(offset='0%' stop-color='#FF00CA')
            stop(offset='100%' stop-color='#0075FF')
        g(fill='none' fill-rule='nonzero')
          path(fill='url(#decentralized-a)' d='M26.154 20a6.154 6.154 0 0 1-12.308 0c0-3.398 3.077-6.154 6.154-6.154V20h6.154z')
          path(fill='url(#decentralized-b)' d='M20 0C8.972 0 0 8.972 0 20s8.972 20 20 20 20-8.972 20-20S31.028 0 20 0zm0 38.462C9.82 38.462 1.538 30.179 1.538 20 1.538 9.82 9.82 1.538 20 1.538S38.462 9.821 38.462 20c0 10.18-8.283 18.462-18.462 18.462z')
          path(fill='url(#decentralized-b)' d='M20 4.615h-.77v2.347A13.03 13.03 0 0 0 6.924 20c0 7.21 5.866 13.077 13.077 13.077 6.952 0 12.636-5.455 13.038-12.308h2.347V20c0-8.34-7.046-15.385-15.385-15.385zm0 26.923c-6.362 0-11.538-5.176-11.538-11.538 0-6.103 4.615-11.1 10.769-11.5v12.27h12.268C31.101 26.772 26.103 31.537 20 31.537zm.77-12.307V6.176c6.922.4 12.654 6.145 13.053 13.055H20.77z')
      .feature__info
        h3.feature__title Decentralized
        p.feature__description Unlike other decentralized exchanges, Injective is truly decentralized and does not have any centralized component. Take back control of your funds and trade through our peer-to-peer client. You can see your orders posted and matched on the sidechain in real time.

    article.feature
      svg.feature__icon(xmlns='http://www.w3.org/2000/svg' width='40' height='32' viewBox='0 0 40 32')
        defs
          linearGradient#trading-a(x1='50%' x2='50%' y1='42.298%' y2='101.353%')
            stop(offset='0%' stop-color='#0075FF')
            stop(offset='100%' stop-color='#00F93E')
        path(fill='url(#trading-a)' fill-rule='nonzero' d='M37.692 30.476H40V32H0v-1.524h2.308V23.62h1.538v6.857h3.077v-3.81h1.539v3.81h3.076v-16h1.539v16h3.077V23.62h1.538v6.857h3.077V19.81h1.539v10.666h4.615V16.762h1.539v13.714h3.076V11.43h1.539v19.047h3.077v-16h1.538v16zM34.471.05c.994-.274 1.909.632 1.633 1.616l-1.105 3.945a.667.667 0 0 1-1.111.29l-1.303-1.29-8.327 8.25a3.876 3.876 0 0 1-5.439 0l-4.88-4.834a2.325 2.325 0 0 0-3.263 0l-7.055 6.988-1.088-1.077 7.055-6.989a3.876 3.876 0 0 1 5.439 0l4.88 4.834c.9.891 2.363.891 3.263 0l8.328-8.249-1.303-1.29a.656.656 0 0 1 .293-1.1L34.47.05z')

      .feature__info
        h3.feature__title Cryptographically Secure
        p.feature__description We leverage the bleeding edge of cryptography and decentralized finance to make your trading experience secure. Injective is the only DEX protocol securing your trades against front-running using Verifiable Delay Functions (VDFs) and selective delay.

    article.feature
      svg.feature__icon(xmlns='http://www.w3.org/2000/svg' width='40' height='45' viewBox='0 0 40 45')
        defs
          linearGradient#adaptable-a(x1='50%' x2='50%' y1='-15.625%' y2='115.774%')
            stop(offset='0%' stop-color='#6DC7FF')
            stop(offset='100%' stop-color='#E6ABFF')
          linearGradient#adaptable-b(x1='50%' x2='50%' y1='-.721%' y2='103.846%')
            stop(offset='0%' stop-color='#C8DCFF')
            stop(offset='100%' stop-color='#0075FF')
          linearGradient#adaptable-c(x1='50%' x2='50%' y1='-518.75%' y2='2200%')
            stop(offset='0%' stop-color='#C8DCFF')
            stop(offset='100%' stop-color='#C822FF')
          linearGradient#adaptable-d(x1='50%' x2='50%' y1='-518.75%' y2='2200%')
            stop(offset='0%' stop-color='#C8DCFF')
            stop(offset='100%' stop-color='#C822FF')
          linearGradient#adaptable-e(x1='50%' x2='50%' y1='-518.75%' y2='2200%')
            stop(offset='0%' stop-color='#C8DCFF')
            stop(offset='100%' stop-color='#C822FF')
        g(fill='none' fill-rule='nonzero')
          ellipse(cx='22.609' cy='27.692' fill='url(#adaptable-a)' rx='3.478' ry='3.462')
          path(fill='url(#adaptable-b)' d='M37.391 4.327h-.87v-1.73A2.606 2.606 0 0 0 33.914 0H2.609A2.606 2.606 0 0 0 0 2.596V42.404A2.606 2.606 0 0 0 2.609 45h31.304a2.606 2.606 0 0 0 2.609-2.596V18.173h.87A2.606 2.606 0 0 0 40 15.577V6.923a2.606 2.606 0 0 0-2.609-2.596zM2.61 1.73h31.304c.48 0 .87.387.87.865v1.73H24.348a2.606 2.606 0 0 0-2.609 2.597h-20V2.596c0-.478.39-.865.87-.865zm26.956 39.807v1.731h-1.739v-1.73h1.74zm-3.478 1.731h-1.74v-1.73h1.74v1.73zm-3.478 0h-1.74v-1.73h1.74v1.73zm-3.479 0h-1.739v-1.73h1.74v1.73zm-3.478 0h-1.739v-1.73h1.74v1.73zm-3.478 0h-1.74v-1.73h1.74v1.73zm-3.478 0h-1.74v-1.73h1.74v1.73zm-3.479 0H3.478v-1.73h1.74v1.73zm26.087 0v-1.73h1.74v1.73h-1.74zm3.479-4.327c0 .478-.39.866-.87.866H2.609a.868.868 0 0 1-.87-.866V32.24l2.14-3.932c.3-.525.843-.85 1.449-.87.617-.012 1.164.258 1.506.768l4.502 6.721a3.46 3.46 0 0 0 2.899 1.542c.978 0 1.902-.405 2.567-1.133l3.595-3.936c.652.385 1.402.62 2.212.62.884 0 1.706-.267 2.394-.72l3.437 3.42a3.472 3.472 0 0 0 2.803.996c1.04-.102 1.97-.657 2.522-1.484l1.018-1.348V38.942zm-12.174-8.654A2.606 2.606 0 0 1 20 27.692a2.606 2.606 0 0 1 2.609-2.596 2.606 2.606 0 0 1 2.608 2.596 2.606 2.606 0 0 1-2.608 2.596zM34.783 30l-2.437 3.233c-.29.432-.755.71-1.276.761a1.718 1.718 0 0 1-1.4-.497l-3.438-3.421a4.283 4.283 0 0 0 .725-2.383c0-2.386-1.95-4.327-4.348-4.327-2.398 0-4.348 1.941-4.348 4.327 0 .954.322 1.828.849 2.545l-3.593 3.932a1.725 1.725 0 0 1-1.416.561 1.733 1.733 0 0 1-1.318-.765l-4.501-6.721a3.475 3.475 0 0 0-3.014-1.539 3.467 3.467 0 0 0-2.91 1.759l-.619 1.14V8.654h20V19.54c0 .704.422 1.331 1.075 1.601a1.74 1.74 0 0 0 1.897-.376l2.606-2.593h7.466V30zm3.478-14.422c0 .478-.39.865-.87.865H27.317c-.464 0-.901.18-1.23.507l-2.61 2.592V6.923c0-.478.39-.865.87-.865H37.39c.48 0 .87.387.87.865v8.654z')
          path(fill='url(#adaptable-c)' d='M26.957 8.654h7.826v1.731h-7.826zM26.957 12.115h7.826v1.731h-7.826z')
          path(fill='url(#adaptable-d)' d='M3.478 3.462h4.348v1.731H3.478z')
          path(fill='url(#adaptable-e)' d='M9.565 3.462h3.478v1.731H9.565z')
      .feature__info
        h3.feature__title Modern
        p.feature__description Tap into the world of margin trading on derivatives and tokens via our basic interface. Leverage the full potential of our protocol on our pro interface. Stay tuned to our upcoming market listings!
