//- Components/mixings
include ../../components/menu.pug

//- Hero
article.hero

  //- Menu
  +menu()
  .hero__container
    .hero__globe-container
      .hero__globe-particles
        .globe__particles-column.globe__particles-column--1
          svg.globe__particle.globe__particle--1.globe__particle--top(xmlns='http://www.w3.org/2000/svg' width='68' height='18' viewBox='0 0 68 18')
            g(fill='none' fill-rule='evenodd' opacity='.988')
              path(fill='#F56C89' d='M34.316 0H.632v17.274h33.684z' opacity='.198')
              path(fill='#6E95FA' d='M68 2.591H34.316v7.773H68z' opacity='.198')
              path(fill='#F56C89' d='M34.316 0H.632v2.591h33.684z')
              path(fill='#6E95FA' d='M68 2.591H34.316v2.591H68z')

          svg.globe__particle.globe__particle--2.globe__particle--bottom(xmlns='http://www.w3.org/2000/svg' width='68' height='18' viewBox='0 0 68 18')
            g(fill='none' fill-rule='evenodd' opacity='.988')
              path(fill='#6D94F8' d='M34.316.5H.632v17.274h33.684z' opacity='.198')
              path(fill='#6E95FA' d='M68 3.091H34.316v7.773H68z' opacity='.198')
              path(fill='#6D94F8' d='M34.316.5H.632v2.591h33.684z')
              path(fill='#6E95FA' d='M68 3.091H34.316v2.591H68z')

        .globe__particles-column.globe__particles-column--2
          svg.globe__particle.globe__particle--3.globe__particle--top(xmlns='http://www.w3.org/2000/svg' width='68' height='18' viewBox='0 0 68 18')
            g(fill='none' fill-rule='evenodd' opacity='.988')
              path(fill='#F56C89' d='M34.184 18h33.684V.726H34.184z' opacity='.198')
              path(fill='#6E95FA' d='M.5 15.409h33.684V7.636H.5z' opacity='.198')
              path(fill='#F56C89' d='M34.184 18h33.684v-2.591H34.184z')
              path(fill='#6E95FA' d='M.5 15.409h33.684v-2.591H.5z')

          svg.globe__particle.globe__particle--4.globe__particle--bottom(xmlns='http://www.w3.org/2000/svg' width='68' height='18' viewBox='0 0 68 18')
            g(fill='none' fill-rule='evenodd' opacity='.988')
              path(fill='#02DFEC' d='M33.816 18H.132V.726h33.684z' opacity='.198')
              path(fill='#6E95FA' d='M67.5 15.409H33.816V7.636H67.5z' opacity='.198')
              path(fill='#02DFEC' d='M33.816 18H.132v-2.591h33.684z')
              path(fill='#6E95FA' d='M67.5 15.409H33.816v-2.591H67.5z')

        .globe__particles-column.globe__particles-column--3
          svg.globe__particle.globe__particle--5.globe__particle--top(xmlns='http://www.w3.org/2000/svg' width='68' height='18' viewBox='0 0 68 18')
            g(fill='none' fill-rule='evenodd' opacity='.988')
              path(fill='#02DFEC' d='M33.816 18H.132V.726h33.684z' opacity='.198')
              path(fill='#6E95FA' d='M67.5 15.409H33.816V7.636H67.5z' opacity='.198')
              path(fill='#02DFEC' d='M33.816 18H.132v-2.591h33.684z')
              path(fill='#6E95FA' d='M67.5 15.409H33.816v-2.591H67.5z')

          svg.globe__particle.globe__particle--6.globe__particle--bottom(xmlns='http://www.w3.org/2000/svg' width='68' height='18' viewBox='0 0 68 18')
            g(fill='none' fill-rule='evenodd' opacity='.988')
              path(fill='#02DFEC' d='M34.184 0h33.684v17.274H34.184z' opacity='.198')
              path(fill='#6E95FA' d='M.5 2.591h33.684v7.773H.5z' opacity='.198')
              path(fill='#02DFEC' d='M34.184 0h33.684v2.591H34.184z')
              path(fill='#6E95FA' d='M.5 2.591h33.684v2.591H.5z')

        .globe__particles-column.globe__particles-column--4
          svg.globe__particle.globe__particle--7.flip-y.globe__particle--top(xmlns='http://www.w3.org/2000/svg' width='68' height='18' viewBox='0 0 68 18')
            g(fill='none' fill-rule='evenodd' opacity='.988')
              path(fill='#6D94F8' d='M34.316.5H.632v17.274h33.684z' opacity='.198')
              path(fill='#6E95FA' d='M68 3.091H34.316v7.773H68z' opacity='.198')
              path(fill='#6D94F8' d='M34.316.5H.632v2.591h33.684z')
              path(fill='#6E95FA' d='M68 3.091H34.316v2.591H68z')

          svg.globe__particle.globe__particle--8.flip-y.globe__particle--bottom(xmlns='http://www.w3.org/2000/svg' width='68' height='18' viewBox='0 0 68 18')
            g(fill='none' fill-rule='evenodd' opacity='.988')
              path(fill='#F56C89' d='M34.316 0H.632v17.274h33.684z' opacity='.198')
              path(fill='#6E95FA' d='M68 2.591H34.316v7.773H68z' opacity='.198')
              path(fill='#F56C89' d='M34.316 0H.632v2.591h33.684z')
              path(fill='#6E95FA' d='M68 2.591H34.316v2.591H68z')

        .globe__particles-column.globe__particles-column--5
          svg.globe__particle.globe__particle--9.globe__particle--top(xmlns='http://www.w3.org/2000/svg' width='68' height='18' viewBox='0 0 68 18')
            g(fill='none' fill-rule='evenodd' opacity='.988')
              path(fill='#02DFEC' d='M33.816 18H.132V.726h33.684z' opacity='.198')
              path(fill='#6E95FA' d='M67.5 15.409H33.816V7.636H67.5z' opacity='.198')
              path(fill='#02DFEC' d='M33.816 18H.132v-2.591h33.684z')
              path(fill='#6E95FA' d='M67.5 15.409H33.816v-2.591H67.5z')

          svg.globe__particle.globe__particle--10.globe__particle--bottom(xmlns='http://www.w3.org/2000/svg' width='68' height='18' viewBox='0 0 68 18')
            g(fill='none' fill-rule='evenodd' opacity='.988')
              path(fill='#02DFEC' d='M34.184 0h33.684v17.274H34.184z' opacity='.198')
              path(fill='#6E95FA' d='M.5 2.591h33.684v7.773H.5z' opacity='.198')
              path(fill='#02DFEC' d='M34.184 0h33.684v2.591H34.184z')
              path(fill='#6E95FA' d='M.5 2.591h33.684v2.591H.5z')

        .globe__particles-column.globe__particles-column--6
          svg.globe__particle.globe__particle--11.flip-y.globe__particle--top(xmlns='http://www.w3.org/2000/svg' width='68' height='18' viewBox='0 0 68 18')
            g(fill='none' fill-rule='evenodd' opacity='.988')
              path(fill='#02DFEC' d='M33.816 18H.132V.726h33.684z' opacity='.198')
              path(fill='#6E95FA' d='M67.5 15.409H33.816V7.636H67.5z' opacity='.198')
              path(fill='#02DFEC' d='M33.816 18H.132v-2.591h33.684z')
              path(fill='#6E95FA' d='M67.5 15.409H33.816v-2.591H67.5z')

          svg.globe__particle.globe__particle--12.flip-x.flip-y.globe__particle--bottom(xmlns='http://www.w3.org/2000/svg' width='68' height='18' viewBox='0 0 68 18')
            g(fill='none' fill-rule='evenodd' opacity='.988')
              path(fill='#F56C89' d='M34.184 18h33.684V.726H34.184z' opacity='.198')
              path(fill='#6E95FA' d='M.5 15.409h33.684V7.636H.5z' opacity='.198')
              path(fill='#F56C89' d='M34.184 18h33.684v-2.591H34.184z')
              path(fill='#6E95FA' d='M.5 15.409h33.684v-2.591H.5z')

        .globe__particles-column.globe__particles-column--7
          svg.globe__particle.globe__particle--13.globe__particle--top(xmlns='http://www.w3.org/2000/svg' width='68' height='18' viewBox='0 0 68 18')
            g(fill='none' fill-rule='evenodd' opacity='.988')
              path(fill='#02DFEC' d='M34.184 0h33.684v17.274H34.184z' opacity='.198')
              path(fill='#6E95FA' d='M.5 2.591h33.684v7.773H.5z' opacity='.198')
              path(fill='#02DFEC' d='M34.184 0h33.684v2.591H34.184z')
              path(fill='#6E95FA' d='M.5 2.591h33.684v2.591H.5z')

          svg.globe__particle.globe__particle--14.globe__particle--bottom(xmlns='http://www.w3.org/2000/svg' width='68' height='18' viewBox='0 0 68 18')
            g(fill='none' fill-rule='evenodd' opacity='.988')
              path(fill='#F56C89' d='M34.316 0H.632v17.274h33.684z' opacity='.198')
              path(fill='#6E95FA' d='M68 2.591H34.316v7.773H68z' opacity='.198')
              path(fill='#F56C89' d='M34.316 0H.632v2.591h33.684z')
              path(fill='#6E95FA' d='M68 2.591H34.316v2.591H68z')

        .globe__particles-column.globe__particles-column--8
          svg.globe__particle.globe__particle--15.flip-x.globe__particle--top(xmlns='http://www.w3.org/2000/svg' width='68' height='18' viewBox='0 0 68 18')
            g(fill='none' fill-rule='evenodd' opacity='.988')
              path(fill='#02DFEC' d='M33.816 18H.132V.726h33.684z' opacity='.198')
              path(fill='#6E95FA' d='M67.5 15.409H33.816V7.636H67.5z' opacity='.198')
              path(fill='#02DFEC' d='M33.816 18H.132v-2.591h33.684z')
              path(fill='#6E95FA' d='M67.5 15.409H33.816v-2.591H67.5z')

          svg.globe__particle.globe__particle--16.flip-y.globe__particle--bottom(xmlns='http://www.w3.org/2000/svg' width='68' height='18' viewBox='0 0 68 18')
            g(fill='none' fill-rule='evenodd' opacity='.988')
              path(fill='#02DFEC' d='M33.816 18H.132V.726h33.684z' opacity='.198')
              path(fill='#6E95FA' d='M67.5 15.409H33.816V7.636H67.5z' opacity='.198')
              path(fill='#02DFEC' d='M33.816 18H.132v-2.591h33.684z')
              path(fill='#6E95FA' d='M67.5 15.409H33.816v-2.591H67.5z')

        .globe__particles-column.globe__particles-column--9
          svg.globe__particle.globe__particle--17.flip-y.globe__particle--top(xmlns='http://www.w3.org/2000/svg' width='68' height='18' viewBox='0 0 68 18')
            g(fill='none' fill-rule='evenodd' opacity='.988')
              path(fill='#02DFEC' d='M33.816 18H.132V.726h33.684z' opacity='.198')
              path(fill='#6E95FA' d='M67.5 15.409H33.816V7.636H67.5z' opacity='.198')
              path(fill='#02DFEC' d='M33.816 18H.132v-2.591h33.684z')
              path(fill='#6E95FA' d='M67.5 15.409H33.816v-2.591H67.5z')

          svg.globe__particle.globe__particle--18.flip-x.flip-y.globe__particle--bottom(xmlns='http://www.w3.org/2000/svg' width='68' height='18' viewBox='0 0 68 18')
            g(fill='none' fill-rule='evenodd' opacity='.988')
              path(fill='#F56C89' d='M34.184 18h33.684V.726H34.184z' opacity='.198')
              path(fill='#6E95FA' d='M.5 15.409h33.684V7.636H.5z' opacity='.198')
              path(fill='#F56C89' d='M34.184 18h33.684v-2.591H34.184z')
              path(fill='#6E95FA' d='M.5 15.409h33.684v-2.591H.5z')


      #globe
      p.hero__globe-info Fully decentralized. Network nodes currently live.

    .hero__info
      .hero__backedby
        span.hero__backedby-text Backed by
        img.hero__backedby-img(src=require('images/binance-logo.png'))
        img.hero__backedby-img2(src=require('images/startx_shifted.png'))
      h2.hero__title Fast, Secure, and Fully Decentralized Trading
      p.hero__description Injective is the first front-running resistant, layer-2 exchange protocol that unlocks the full potential of borderless finance by supporting margin trading, derivatives, and futures.
      form.form(method='POST', netlify)
        .form__block
          .form__inputwithbutton
            label.form__label.hero__label#hero__form-label Input your email
            .form__inputwithbutton-input#hero__form-inputwithbutton__input
              input.form__input.hero__input#hero__form-input(name='EMAIL', type='email', required)
              button.form__button#hero__form-button(type='submit')
                svg.form__button-svg(xmlns='http://www.w3.org/2000/svg' width='10' height='16' viewBox='0 0 10 16')
                  path(fill='#FFF' fill-rule='nonzero' d='M.098 13.362l1.795 1.795 7.264-7.264L1.893.63.098 2.424l5.469 5.47z')

            .form__text#hero__form-text Sign up for our testnet waitlist
