//- Signup
article.signup#contact-us
  .signup__container
    h2.signup__title Build with us the future of decentralized exchange.
    form.form(method='POST', netlify)
      .form__block
        .form__label Input your email
        .form__inputwithbutton
          .form__inputwithbutton-input
            input.form__input(name='EMAIL', type='email', required)
            button.form__button(type='submit')
              svg.form__button-svg(xmlns='http://www.w3.org/2000/svg' width='10' height='16' viewBox='0 0 10 16')
                path(fill='#FFF' fill-rule='nonzero' d='M.098 13.362l1.795 1.795 7.264-7.264L1.893.63.098 2.424l5.469 5.47z')

          .form__text Sign up for our testnet waitlist

    .signup__contact
      h3.platform__item-description Feel free to contact us if you have any questions &#8594;
      a.a(href='mailto:contact@injectiveprotocol.com') contact@injectiveprotocol.com
