extends ./layouts/master.pug

//- Components/mixings
include ./components/menu.pug

block title
  title Injective protocol - Home

//- block manifestBrowserconfigFiles
//-   link(href='../manifest.json', rel='manifest')
//-   meta(name='msapplication-config' content='../browserconfig.xml')

block content



  //- Home page
  section.page.home__page

    //- Hero
    .hero
      //- Menu
      +menu()

      .hero__container
        .hero__globe

        .hero__info
          .hero__backedby
            span.hero__backedby-text Backed by
            img.hero__backedby-img(src=require('images/binance-logo.png'))
          h2.hero__title Fast, Secure, and Fully Decentralized Trading
          p.hero__description Injective is the first front-running resistant, layer-2 exchange protocol that unlocks the full potential of borderless finance by supporting margin trading, derivatives, and futures.
          .hero__signup
            .hero__form
              input.hero__input(type='email')
              button.hero__button(type='submit')
                svg.hero__button-svg(xmlns='http://www.w3.org/2000/svg' width='10' height='16' viewBox='0 0 10 16')
                  path(fill='#FFF' fill-rule='nonzero' d='M.098 13.362l1.795 1.795 7.264-7.264L1.893.63.098 2.424l5.469 5.47z')
            p.hero__signup-text Sign up for our testnet waitlist


    //- Features
    .features
      .features__container
        article.feature
          svg.feature__icon(xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40')
            defs
              linearGradient#decentralized-a(x1='49.999%' x2='49.999%' y1='-2.404%' y2='102.613%')
                stop(offset='0%' stop-color='#C8DCFF')
                stop(offset='100%' stop-color='#0075FF')
              linearGradient#decentralized-b(x1='49.999%' x2='49.999%' y1='-2.404%' y2='102.613%')
                stop(offset='0%' stop-color='#FF00CA')
                stop(offset='100%' stop-color='#0075FF')
            g(fill='none' fill-rule='nonzero')
              path(fill='url(#decentralized-a)' d='M26.154 20a6.154 6.154 0 0 1-12.308 0c0-3.398 3.077-6.154 6.154-6.154V20h6.154z')
              path(fill='url(#decentralized-b)' d='M20 0C8.972 0 0 8.972 0 20s8.972 20 20 20 20-8.972 20-20S31.028 0 20 0zm0 38.462C9.82 38.462 1.538 30.179 1.538 20 1.538 9.82 9.82 1.538 20 1.538S38.462 9.821 38.462 20c0 10.18-8.283 18.462-18.462 18.462z')
              path(fill='url(#decentralized-b)' d='M20 4.615h-.77v2.347A13.03 13.03 0 0 0 6.924 20c0 7.21 5.866 13.077 13.077 13.077 6.952 0 12.636-5.455 13.038-12.308h2.347V20c0-8.34-7.046-15.385-15.385-15.385zm0 26.923c-6.362 0-11.538-5.176-11.538-11.538 0-6.103 4.615-11.1 10.769-11.5v12.27h12.268C31.101 26.772 26.103 31.537 20 31.537zm.77-12.307V6.176c6.922.4 12.654 6.145 13.053 13.055H20.77z')
          .feature__info
            h3.feature__title Decentralized
            p.feature__description We do not have any centralized component throughout the entire trading process. Take back control of your funds and trade through our peer-to-peer client. You can see your orders posted and matched on the sidechain in real time.

        article.feature
          svg.feature__icon(xmlns='http://www.w3.org/2000/svg' width='40' height='32' viewBox='0 0 40 32')
            defs
              linearGradient#trading-a(x1='50%' x2='50%' y1='42.298%' y2='101.353%')
                stop(offset='0%' stop-color='#0075FF')
                stop(offset='100%' stop-color='#00F93E')
            path(fill='url(#trading-a)' fill-rule='nonzero' d='M37.692 30.476H40V32H0v-1.524h2.308V23.62h1.538v6.857h3.077v-3.81h1.539v3.81h3.076v-16h1.539v16h3.077V23.62h1.538v6.857h3.077V19.81h1.539v10.666h4.615V16.762h1.539v13.714h3.076V11.43h1.539v19.047h3.077v-16h1.538v16zM34.471.05c.994-.274 1.909.632 1.633 1.616l-1.105 3.945a.667.667 0 0 1-1.111.29l-1.303-1.29-8.327 8.25a3.876 3.876 0 0 1-5.439 0l-4.88-4.834a2.325 2.325 0 0 0-3.263 0l-7.055 6.988-1.088-1.077 7.055-6.989a3.876 3.876 0 0 1 5.439 0l4.88 4.834c.9.891 2.363.891 3.263 0l8.328-8.249-1.303-1.29a.656.656 0 0 1 .293-1.1L34.47.05z')

          .feature__info
            h3.feature__title Secure Trading
            p.feature__description Injective matches orders on a fast layer-2 sidechain network and settles them on Ethereum through 0x. Users’ trades are secured in a trustless, publicly verifiable manner using VDF and settled safely with selective delay through the 0x order matching model.

        article.feature
          svg.feature__icon(xmlns='http://www.w3.org/2000/svg' width='40' height='45' viewBox='0 0 40 45')
            defs
              linearGradient#adaptable-a(x1='50%' x2='50%' y1='-15.625%' y2='115.774%')
                stop(offset='0%' stop-color='#6DC7FF')
                stop(offset='100%' stop-color='#E6ABFF')
              linearGradient#adaptable-b(x1='50%' x2='50%' y1='-.721%' y2='103.846%')
                stop(offset='0%' stop-color='#C8DCFF')
                stop(offset='100%' stop-color='#0075FF')
              linearGradient#adaptable-c(x1='50%' x2='50%' y1='-518.75%' y2='2200%')
                stop(offset='0%' stop-color='#C8DCFF')
                stop(offset='100%' stop-color='#C822FF')
              linearGradient#adaptable-d(x1='50%' x2='50%' y1='-518.75%' y2='2200%')
                stop(offset='0%' stop-color='#C8DCFF')
                stop(offset='100%' stop-color='#C822FF')
              linearGradient#adaptable-e(x1='50%' x2='50%' y1='-518.75%' y2='2200%')
                stop(offset='0%' stop-color='#C8DCFF')
                stop(offset='100%' stop-color='#C822FF')
            g(fill='none' fill-rule='nonzero')
              ellipse(cx='22.609' cy='27.692' fill='url(#adaptable-a)' rx='3.478' ry='3.462')
              path(fill='url(#adaptable-b)' d='M37.391 4.327h-.87v-1.73A2.606 2.606 0 0 0 33.914 0H2.609A2.606 2.606 0 0 0 0 2.596V42.404A2.606 2.606 0 0 0 2.609 45h31.304a2.606 2.606 0 0 0 2.609-2.596V18.173h.87A2.606 2.606 0 0 0 40 15.577V6.923a2.606 2.606 0 0 0-2.609-2.596zM2.61 1.73h31.304c.48 0 .87.387.87.865v1.73H24.348a2.606 2.606 0 0 0-2.609 2.597h-20V2.596c0-.478.39-.865.87-.865zm26.956 39.807v1.731h-1.739v-1.73h1.74zm-3.478 1.731h-1.74v-1.73h1.74v1.73zm-3.478 0h-1.74v-1.73h1.74v1.73zm-3.479 0h-1.739v-1.73h1.74v1.73zm-3.478 0h-1.739v-1.73h1.74v1.73zm-3.478 0h-1.74v-1.73h1.74v1.73zm-3.478 0h-1.74v-1.73h1.74v1.73zm-3.479 0H3.478v-1.73h1.74v1.73zm26.087 0v-1.73h1.74v1.73h-1.74zm3.479-4.327c0 .478-.39.866-.87.866H2.609a.868.868 0 0 1-.87-.866V32.24l2.14-3.932c.3-.525.843-.85 1.449-.87.617-.012 1.164.258 1.506.768l4.502 6.721a3.46 3.46 0 0 0 2.899 1.542c.978 0 1.902-.405 2.567-1.133l3.595-3.936c.652.385 1.402.62 2.212.62.884 0 1.706-.267 2.394-.72l3.437 3.42a3.472 3.472 0 0 0 2.803.996c1.04-.102 1.97-.657 2.522-1.484l1.018-1.348V38.942zm-12.174-8.654A2.606 2.606 0 0 1 20 27.692a2.606 2.606 0 0 1 2.609-2.596 2.606 2.606 0 0 1 2.608 2.596 2.606 2.606 0 0 1-2.608 2.596zM34.783 30l-2.437 3.233c-.29.432-.755.71-1.276.761a1.718 1.718 0 0 1-1.4-.497l-3.438-3.421a4.283 4.283 0 0 0 .725-2.383c0-2.386-1.95-4.327-4.348-4.327-2.398 0-4.348 1.941-4.348 4.327 0 .954.322 1.828.849 2.545l-3.593 3.932a1.725 1.725 0 0 1-1.416.561 1.733 1.733 0 0 1-1.318-.765l-4.501-6.721a3.475 3.475 0 0 0-3.014-1.539 3.467 3.467 0 0 0-2.91 1.759l-.619 1.14V8.654h20V19.54c0 .704.422 1.331 1.075 1.601a1.74 1.74 0 0 0 1.897-.376l2.606-2.593h7.466V30zm3.478-14.422c0 .478-.39.865-.87.865H27.317c-.464 0-.901.18-1.23.507l-2.61 2.592V6.923c0-.478.39-.865.87-.865H37.39c.48 0 .87.387.87.865v8.654z')
              path(fill='url(#adaptable-c)' d='M26.957 8.654h7.826v1.731h-7.826zM26.957 12.115h7.826v1.731h-7.826z')
              path(fill='url(#adaptable-d)' d='M3.478 3.462h4.348v1.731H3.478z')
              path(fill='url(#adaptable-e)' d='M9.565 3.462h3.478v1.731H9.565z')
          .feature__info
            h3.feature__title Adaptable
            p.feature__description Tap into the world of margin trading on derivatives and tokens via our basic interface. Leverage the full potential of our protocol on our pro interface. Stay tuned to our upcoming market listings!

    //- Platform
    .platform
      .platform__container
        .platform__details
          h2.platform__title A fully-fledged, mature platform.
          ul.platform__list
            li.platform__item
              span.platform__item-title Decentralized Lending/Margin Trading
              p.platform__item-description.platform__item-description--first Injective allows traders to short or long crypto-assets with leverage.
            li.platform__item
              span.platform__item-title Decentralized Futures & Derivatives Markets
              p.platform__item-description In turn, this is a new way to exchange decentralized futures and derivative products.
            li.platform__item
              span.platform__item-title.platform__item-title--last We support Ethereum, TrueUSD, Injective, Dai, MKR
              p.platform__item-description …with many more to be announced!
          .platform__technologies
            svg.platform__technology-img(xmlns='http://www.w3.org/2000/svg' width='21' height='32' viewBox='0 0 21 32')
              g(fill='#CCC' fill-rule='nonzero')
                path(d='M10.399 11.66L.718 16.063l9.68 5.72 9.678-5.72z' opacity='.6')
                path(d='M.718 16.063l9.68 5.72V0z' opacity='.45')
                path(d='M10.399 0v21.783l9.677-5.72z' opacity='.8')
                path(d='M.718 17.897l9.68 13.639v-7.92z' opacity='.45')
                path(d='M10.399 23.617v7.919l9.685-13.639z' opacity='.8')
            svg.platform__technology-img(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32')
              g(fill='none' fill-rule='evenodd')
                circle(cx='16' cy='16' r='16' fill='#00AC9A')
                g(fill='#FFF' fill-rule='nonzero')
                  path(d='M6.464 8.948a.44.44 0 0 1 .46.04l7.68 5.769a.445.445 0 0 1 .177.35v6.597a.44.44 0 0 1-.44.44.44.44 0 0 1-.44-.44V15.33l-6.8-5.11v11.485a.44.44 0 0 1-.879.004V9.34c0-.167.096-.32.242-.392zM25.172 8.948c.15.075.242.228.242.392v12.368a.44.44 0 0 1-.88 0v-11.49l-6.796 5.111v6.379a.44.44 0 0 1-.88 0V15.11c0-.14.065-.269.178-.35l7.673-5.772a.446.446 0 0 1 .463-.041z')
            svg.platform__technology-img(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32')
              g(fill='none' fill-rule='nonzero')
                circle(cx='16.001' cy='16.001' r='15.538' fill='#FFF' stroke='#FFCE45' stroke-width='.911')
                path(fill='#FFCE45' d='M16.001 3.484l12.252 12.251-12.252 12.252L3.75 15.735z')
                path(fill='#FEBE44' d='M16.001 19.733L3.74 15.735 16 3.483l12.262 12.252z')
                path(fill='#FFF' d='M8.005 14.935h5.597l2.4-2.665 2.665 2.665h5.598L16 6.005z')
                path(fill='#D9A547' d='M16.001 27.986V3.483l12.252 12.252L16 27.986z' opacity='.42')
            svg.platform__technology-img(xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32')
              g(fill='none' fill-rule='nonzero')
                path(fill='#FFF' d='M29.44 32H2.56A2.568 2.568 0 0 1 0 29.44V2.56A2.568 2.568 0 0 1 2.56 0h26.88A2.568 2.568 0 0 1 32 2.56v26.88A2.568 2.568 0 0 1 29.44 32z')
                g(fill='#002868')
                  path(d='M6.244 28.779c-.084 0-.152-.077-.152-.161v-4.3c0-.084-.069-.161-.153-.161H4.421c-.085 0-.16-.068-.16-.153v-.83c0-.085.076-.162.16-.162h4.672c.085 0 .161.076.161.161v.831c0 .085-.076.153-.16.153h-1.51a.167.167 0 0 0-.161.16v4.3c0 .085-.068.162-.153.162H6.244zM13.918 23.173c0-.084.068-.16.152-.16h1.018c.084 0 .161.075.161.16v2.935c0 1.738-.983 2.747-2.544 2.747-1.552 0-2.527-1.009-2.527-2.747v-2.935c0-.084.068-.16.153-.16h1.017c.085 0 .161.075.161.16v2.976c0 .857.44 1.467 1.205 1.467.763 0 1.204-.61 1.204-1.467v-2.976zM19.922 24.895c-.135 0-.178-.051-.23-.153-.177-.416-.568-.678-1.16-.678-.535 0-.984.187-.984.543 0 .39.416.551 1.33.661 1.392.161 2.189.586 2.189 1.688 0 1.238-1.086 1.89-2.476 1.89-1.204 0-2.239-.585-2.4-1.813-.017-.119.043-.162.161-.162h.933c.119 0 .187.052.221.144.127.408.56.722 1.187.722.552 0 1.035-.204 1.035-.636 0-.518-.509-.61-1.526-.738-1.17-.153-1.984-.492-1.984-1.57 0-1.077.924-1.848 2.374-1.848 1.306 0 2.213.704 2.4 1.756.026.118-.009.195-.135.195h-.935v-.001zM22.22 28.779c-.085 0-.153-.077-.153-.161v-5.445c0-.084.068-.16.153-.16h2.306c1.713 0 3.044 1.178 3.044 2.9 0 1.696-1.314 2.866-3.044 2.866H22.22zm2.306-1.146c.925 0 1.645-.73 1.645-1.739 0-1.009-.721-1.738-1.654-1.738h-.958c-.084 0-.152.075-.152.16v3.163c0 .085.068.153.152.153h.967v.001z')
                path(fill='#002868' d='M31.147 19.84H.853a.428.428 0 0 1-.426-.427V2.56A2.14 2.14 0 0 1 2.56.427h26.88a2.14 2.14 0 0 1 2.133 2.133v16.853a.428.428 0 0 1-.426.427z')
                path(fill='#FFF' d='M17.571 16.38h-2.773a.32.32 0 0 1-.32-.32V4.326a.32.32 0 0 1 .32-.32h2.773a.32.32 0 0 1 .32.32V16.06a.32.32 0 0 1-.32.32z')
                path(fill='#FFF' d='M22.293 7.42H9.707a.32.32 0 0 1-.32-.32V4.326a.32.32 0 0 1 .32-.32h12.586a.32.32 0 0 1 .32.32V7.1a.32.32 0 0 1-.32.32z')

        .platform__graphic
          svg.platform__graphic-wave.platform__graphic-wave--top(xmlns='http://www.w3.org/2000/svg' width='649' height='139' viewBox='0 0 649 139')
            g(fill='none' fill-rule='evenodd')
              g(opacity='.013')
                path(fill='#02DFEC' d='M59.656 84.78l61.544 27.402 14.052-31.561L73.708 53.22z' opacity='.198')
                path(fill='#6E95FA' d='M.219 52.645l61.544 27.402 6.324-14.203L6.542 38.442z' opacity='.198')
                path(fill='#02DFEC' d='M59.656 84.78l61.544 27.402 2.108-4.734-61.545-27.401z')
                path(fill='#6E95FA' d='M.219 52.645l61.544 27.402 2.108-4.734L2.327 47.91z')
              g(opacity='.025')
                path(fill='#02DFEC' d='M66.019 84.526l60.55 29.533 15.146-31.052-60.551-29.533z' opacity='.198')
                path(fill='#6E95FA' d='M7.74 50.336l60.55 29.532 6.816-13.973-60.55-29.533z' opacity='.198')
                path(fill='#02DFEC' d='M66.019 84.526l60.55 29.533 2.272-4.658-60.55-29.533z')
                path(fill='#6E95FA' d='M7.74 50.336l60.55 29.532 2.272-4.657-60.55-29.533z')
              g(opacity='.037')
                path(fill='#02DFEC' d='M72.391 84.252l59.484 31.628 16.219-30.504L88.61 53.748z' opacity='.198')
                path(fill='#6E95FA' d='M15.34 48.049l59.484 31.628 7.299-13.727L22.64 34.322z' opacity='.198')
                path(fill='#02DFEC' d='M72.391 84.252l59.484 31.628 2.432-4.575-59.483-31.628z')
                path(fill='#6E95FA' d='M15.34 48.049l59.484 31.628 2.433-4.576-59.483-31.628z')
              g(opacity='.05')
                path(fill='#02DFEC' d='M78.774 83.96l58.343 33.684 17.274-29.92L96.048 54.04z' opacity='.198')
                path(fill='#6E95FA' d='M23.021 45.788l58.344 33.684 7.773-13.464-58.343-33.684z' opacity='.198')
                path(fill='#02DFEC' d='M78.774 83.96l58.343 33.684 2.59-4.487-58.342-33.685z')
                path(fill='#6E95FA' d='M23.021 45.788l58.344 33.684 2.59-4.488L25.613 41.3z')
              g(opacity='.063')
                path(fill='#02DFEC' d='M85.166 83.65l57.132 35.7 18.308-29.299-57.132-35.7z' opacity='.198')
                path(fill='#6E95FA' d='M30.78 43.555l57.132 35.7 8.239-13.185-57.132-35.7z' opacity='.198')
                path(fill='#02DFEC' d='M85.166 83.65l57.132 35.7 2.747-4.395-57.133-35.7z')
                path(fill='#6E95FA' d='M30.78 43.555l57.132 35.7 2.746-4.395-57.132-35.7z')
              g(opacity='.075')
                path(fill='#02DFEC' d='M91.57 83.321l55.852 37.672 19.319-28.641-55.852-37.673z' opacity='.198')
                path(fill='#6E95FA' d='M38.617 41.353l55.851 37.672 8.694-12.89L47.31 28.465z' opacity='.198')
                path(fill='#02DFEC' d='M91.57 83.321l55.852 37.672 2.897-4.296-55.851-37.672z')
                path(fill='#6E95FA' d='M38.617 41.353l55.851 37.672 2.898-4.296-55.852-37.672z')
              g(opacity='.087')
                path(fill='#02DFEC' d='M97.986 82.975l54.503 39.599 20.306-27.95-54.502-39.599z' opacity='.198')
                path(fill='#6E95FA' d='M46.53 39.184l54.502 39.599 9.138-12.578-54.502-39.598z' opacity='.198')
                path(fill='#02DFEC' d='M97.986 82.975l54.503 39.599 3.046-4.193-54.503-39.598z')
                path(fill='#6E95FA' d='M46.53 39.184l54.502 39.599 3.046-4.193-54.503-39.598z')
              g(opacity='.1')
                path(fill='#02DFEC' d='M104.414 82.612l53.088 41.477 21.27-27.224-53.088-41.477z' opacity='.198')
                path(fill='#6E95FA' d='M54.517 37.052l53.087 41.477 9.572-12.251L64.09 24.8z' opacity='.198')
                path(fill='#02DFEC' d='M104.414 82.612l53.088 41.477 3.19-4.084-53.088-41.476z')
                path(fill='#6E95FA' d='M54.517 37.052l53.087 41.477 3.19-4.084L57.708 32.97z')
              g(opacity='.113')
                path(fill='#02DFEC' d='M110.855 82.233l51.608 43.304 22.207-26.465-51.608-43.304z' opacity='.198')
                path(fill='#6E95FA' d='M62.578 34.96l51.608 43.303 9.993-11.91L72.572 23.05z' opacity='.198')
                path(fill='#02DFEC' d='M110.855 82.233l51.608 43.304 3.33-3.97-51.607-43.304z')
                path(fill='#6E95FA' d='M62.578 34.96l51.608 43.303 3.33-3.97L65.91 30.99z')
              g(opacity='.125')
                path(fill='#02DFEC' d='M117.31 81.837l50.065 45.079 23.117-25.674-50.065-45.079z' opacity='.198')
                path(fill='#6E95FA' d='M70.712 32.908l50.065 45.078 10.403-11.553-50.065-45.079z' opacity='.198')
                path(fill='#02DFEC' d='M117.31 81.837l50.065 45.079 3.467-3.851-50.065-45.079z')
                path(fill='#6E95FA' d='M70.712 32.908l50.065 45.078 3.467-3.85-50.064-45.08z')
              g(opacity='.138')
                path(fill='#02DFEC' d='M123.778 81.426l48.461 46.799 24-24.852-48.462-46.799z' opacity='.198')
                path(fill='#6E95FA' d='M78.917 30.9l48.461 46.798 10.8-11.183-48.461-46.799z' opacity='.198')
                path(fill='#02DFEC' d='M123.778 81.426l48.461 46.799 3.6-3.728-48.461-46.799z')
                path(fill='#6E95FA' d='M78.917 30.9l48.461 46.798 3.6-3.727-48.461-46.799z')
              g(opacity='.15')
                path(fill='#02DFEC' d='M130.262 81l46.798 48.461 24.852-24-46.799-48.46z' opacity='.198')
                path(fill='#6E95FA' d='M87.19 28.939l46.8 48.461 11.183-10.8L98.374 18.14z' opacity='.198')
                path(fill='#02DFEC' d='M130.262 81l46.798 48.461 3.728-3.6L133.989 77.4z')
                path(fill='#6E95FA' d='M87.19 28.939l46.8 48.461 3.727-3.6-46.799-48.46z')
              g(opacity='.163')
                path(fill='#02DFEC' d='M136.76 80.559l45.079 50.065 25.674-23.117-45.079-50.065z' opacity='.198')
                path(fill='#6E95FA' d='M95.532 27.026l45.079 50.065 11.554-10.403-45.08-50.065z' opacity='.198')
                path(fill='#02DFEC' d='M136.76 80.559l45.079 50.065 3.85-3.468-45.078-50.065z')
                path(fill='#6E95FA' d='M95.532 27.026l45.079 50.065 3.85-3.467-45.078-50.065z')
              g(opacity='.175')
                path(fill='#02DFEC' d='M143.274 80.104l43.304 51.607 26.465-22.207-43.304-51.607z' opacity='.198')
                path(fill='#6E95FA' d='M103.94 25.165l43.304 51.608 11.91-9.994-43.305-51.607z' opacity='.198')
                path(fill='#02DFEC' d='M143.274 80.104l43.304 51.607 3.97-3.33-43.304-51.608z')
                path(fill='#6E95FA' d='M103.94 25.165l43.304 51.608 3.97-3.331-43.305-51.608z')
              g(opacity='.188')
                path(fill='#02DFEC' d='M149.804 79.635l41.477 53.088 27.224-21.27-41.477-53.088z' opacity='.198')
                path(fill='#6E95FA' d='M112.411 23.357l41.477 53.088 12.25-9.572-41.476-53.087z' opacity='.198')
                path(fill='#02DFEC' d='M149.804 79.635l41.477 53.088 4.083-3.19-41.476-53.088z')
                path(fill='#6E95FA' d='M112.411 23.357l41.477 53.088 4.083-3.19-41.476-53.088z')
              g(opacity='.2')
                path(fill='#02DFEC' d='M156.35 79.154l39.6 54.502 27.95-20.306-39.6-54.503z' opacity='.198')
                path(fill='#6E95FA' d='M120.945 21.605l39.598 54.503 12.578-9.139-39.599-54.502z' opacity='.198')
                path(fill='#02DFEC' d='M156.35 79.154l39.6 54.502 4.192-3.046-39.599-54.502z')
                path(fill='#6E95FA' d='M120.945 21.605l39.598 54.503 4.193-3.046-39.599-54.503z')
              g(opacity='.212')
                path(fill='#02DFEC' d='M162.915 78.66l37.672 55.851 28.641-19.319-37.672-55.851z' opacity='.198')
                path(fill='#6E95FA' d='M129.538 19.91l37.673 55.852 12.889-8.694-37.673-55.851z' opacity='.198')
                path(fill='#02DFEC' d='M162.915 78.66l37.672 55.851 4.296-2.898-37.672-55.851z')
                path(fill='#6E95FA' d='M129.538 19.91l37.673 55.852 4.296-2.898-37.672-55.851z')
              g(opacity='.225')
                path(fill='#02DFEC' d='M169.496 78.154l35.7 57.132 29.298-18.307-35.7-57.133z' opacity='.198')
                path(fill='#6E95FA' d='M138.19 18.276l35.7 57.132 13.185-8.239-35.7-57.132z' opacity='.198')
                path(fill='#02DFEC' d='M169.496 78.154l35.7 57.132 4.395-2.746-35.7-57.132z')
                path(fill='#6E95FA' d='M138.19 18.276l35.7 57.132 4.395-2.746-35.7-57.132z')
              g(opacity='.237')
                path(fill='#02DFEC' d='M176.095 77.637l33.684 58.344 29.92-17.274-33.685-58.344z' opacity='.198')
                path(fill='#6E95FA' d='M146.898 16.703l33.685 58.343 13.464-7.773-33.685-58.344z' opacity='.198')
                path(fill='#02DFEC' d='M176.095 77.637l33.684 58.344 4.488-2.591-33.684-58.344z')
                path(fill='#6E95FA' d='M146.898 16.703l33.685 58.343 4.487-2.59-33.684-58.344z')
              g(opacity='.25')
                path(fill='#02DFEC' d='M182.712 77.11l31.628 59.483 30.504-16.22-31.628-59.482z' opacity='.198')
                path(fill='#6E95FA' d='M155.66 15.194l31.628 59.483 13.727-7.299-31.628-59.483z' opacity='.198')
                path(fill='#02DFEC' d='M182.712 77.11l31.628 59.483 4.575-2.433-31.627-59.483z')
                path(fill='#6E95FA' d='M155.66 15.194l31.628 59.483 4.575-2.433-31.628-59.483z')
              g(opacity='.263')
                path(fill='#02DFEC' d='M189.348 76.573l29.533 60.55 31.051-15.144L220.4 61.428z' opacity='.198')
                path(fill='#6E95FA' d='M164.473 13.75l29.533 60.551 13.973-6.815-29.532-60.551z' opacity='.198')
                path(fill='#02DFEC' d='M189.348 76.573l29.533 60.55 4.657-2.271L194.006 74.3z')
                path(fill='#6E95FA' d='M164.473 13.75l29.533 60.551 4.657-2.272-29.532-60.55z')
              g(opacity='.275')
                path(fill='#02DFEC' d='M196.003 76.026l27.401 61.545 31.561-14.052-27.401-61.545z' opacity='.198')
                path(fill='#6E95FA' d='M173.335 12.374l27.402 61.545 14.203-6.324L187.538 6.05z' opacity='.198')
                path(fill='#02DFEC' d='M196.003 76.026l27.401 61.545 4.734-2.108-27.401-61.544z')
                path(fill='#6E95FA' d='M173.335 12.374l27.402 61.545 4.734-2.108-27.402-61.545z')
              g(opacity='.287')
                path(fill='#02DFEC' d='M202.677 75.471l25.237 62.464 32.032-12.942-25.237-62.464z' opacity='.198')
                path(fill='#6E95FA' d='M182.245 11.067l25.237 62.463 14.414-5.824L196.66 5.243z' opacity='.198')
                path(fill='#02DFEC' d='M202.677 75.471l25.237 62.464 4.804-1.942-25.236-62.463z')
                path(fill='#6E95FA' d='M182.245 11.067l25.237 62.463 4.804-1.941L187.05 9.125z')
              g(opacity='.3')
                path(fill='#02DFEC' d='M209.37 74.908l23.042 63.306 32.464-11.816-23.041-63.306z' opacity='.198')
                path(fill='#6E95FA' d='M191.198 9.83l23.042 63.306 14.61-5.317-23.042-63.307z' opacity='.198')
                path(fill='#02DFEC' d='M209.37 74.908l23.042 63.306 4.87-1.772-23.042-63.306z')
                path(fill='#6E95FA' d='M191.198 9.83l23.042 63.306 4.87-1.772-23.042-63.307z')
              g(opacity='.313')
                path(fill='#02DFEC' d='M216.084 74.338l20.818 64.072 32.857-10.676-20.818-64.072z' opacity='.198')
                path(fill='#6E95FA' d='M200.194 8.665l20.818 64.072 14.786-4.804L214.98 3.86z' opacity='.198')
                path(fill='#02DFEC' d='M216.084 74.338l20.818 64.072 4.928-1.601-20.818-64.072z')
                path(fill='#6E95FA' d='M200.194 8.665l20.818 64.072 4.928-1.601-20.818-64.072z')
              g(opacity='.325')
                path(fill='#02DFEC' d='M222.817 73.762l18.57 64.759 33.21-9.523-18.57-64.76z' opacity='.198')
                path(fill='#6E95FA' d='M209.229 7.574l18.57 64.76 14.944-4.286-18.57-64.76z' opacity='.198')
                path(fill='#02DFEC' d='M222.817 73.762l18.57 64.759 4.98-1.428-18.569-64.76z')
                path(fill='#6E95FA' d='M209.229 7.574l18.57 64.76 4.98-1.43L214.21 6.147z')
              g(opacity='.338')
                path(fill='#02DFEC' d='M229.57 73.18l16.299 65.367 33.521-8.358-16.298-65.368z' opacity='.198')
                path(fill='#6E95FA' d='M218.3 6.558L234.6 71.926l15.085-3.762-16.298-65.367z' opacity='.198')
                path(fill='#02DFEC' d='M229.57 73.18l16.299 65.367 5.028-1.254-16.298-65.367z')
                path(fill='#6E95FA' d='M218.3 6.558L234.6 71.926l5.028-1.254-16.298-65.368z')
              g(opacity='.35')
                path(fill='#02DFEC' d='M236.345 72.592l14.006 65.897 33.793-7.183-14.006-65.897z' opacity='.198')
                path(fill='#6E95FA' d='M227.406 5.618l14.007 65.896 15.208-3.232-14.007-65.897z' opacity='.198')
                path(fill='#02DFEC' d='M236.345 72.592l14.006 65.897 5.07-1.078-14.008-65.897z')
                path(fill='#6E95FA' d='M227.406 5.618l14.007 65.896 5.07-1.077L232.474 4.54z')
              g(opacity='.362')
                path(fill='#02DFEC' d='M243.14 72l11.698 66.345 34.023-5.999-11.699-66.345z' opacity='.198')
                path(fill='#6E95FA' d='M236.544 4.755L248.242 71.1l15.311-2.7-11.698-66.345z' opacity='.198')
                path(fill='#02DFEC' d='M243.14 72l11.698 66.345 5.103-.9L248.242 71.1z')
                path(fill='#6E95FA' d='M236.544 4.755L248.242 71.1l5.104-.9-11.699-66.345z')
              g(opacity='.375')
                path(fill='#02DFEC' d='M249.954 71.404l9.376 66.714 34.212-4.808-9.376-66.714z' opacity='.198')
                path(fill='#6E95FA' d='M245.71 3.97l9.376 66.713 15.396-2.164-9.376-66.713z' opacity='.198')
                path(fill='#02DFEC' d='M249.954 71.404l9.376 66.714 5.132-.721-9.376-66.714z')
                path(fill='#6E95FA' d='M245.71 3.97l9.376 66.713 5.132-.721-9.376-66.713z')
              g(opacity='.388')
                path(fill='#02DFEC' d='M256.79 70.806l7.042 67 34.36-3.611-7.043-67z' opacity='.198')
                path(fill='#6E95FA' d='M254.902 3.264l7.042 67 15.462-1.625-7.042-67z' opacity='.198')
                path(fill='#02DFEC' d='M256.79 70.806l7.042 67 5.154-.542-7.042-67z')
                path(fill='#6E95FA' d='M254.902 3.264l7.042 67 5.154-.541-7.042-67z')
              g(opacity='.4')
                path(fill='#02DFEC' d='M263.648 70.205l4.699 67.205 34.464-2.41-4.7-67.205z' opacity='.198')
                path(fill='#6E95FA' d='M264.118 2.639l4.699 67.205 15.51-1.085-4.7-67.205z' opacity='.198')
                path(fill='#02DFEC' d='M263.648 70.205l4.699 67.205 5.17-.361-4.7-67.205z')
                path(fill='#6E95FA' d='M264.118 2.639l4.699 67.205 5.17-.362-4.7-67.205z')
              g(opacity='.412')
                path(fill='#02DFEC' d='M270.526 69.603l2.35 67.328 34.528-1.206-2.351-67.328z' opacity='.198')
                path(fill='#6E95FA' d='M273.353 2.094l2.351 67.328 15.538-.542-2.351-67.328z' opacity='.198')
                path(fill='#02DFEC' d='M270.526 69.603l2.35 67.328 5.18-.18-2.352-67.329z')
                path(fill='#6E95FA' d='M273.353 2.094l2.351 67.328 5.18-.18-2.352-67.329z')
              g(opacity='.425')
                path(fill='#02DFEC' d='M277.425 69v67.37h34.548V69z' opacity='.198')
                path(fill='#6E95FA' d='M282.607 1.631v67.37h15.547V1.63z' opacity='.198')
                path(fill='#02DFEC' d='M277.425 69v67.37h5.182V69z')
                path(fill='#6E95FA' d='M282.607 1.631v67.37h5.182V1.63z')
              g(opacity='.438')
                path(fill='#02DFEC' d='M284.345 68.397l-2.351 67.328 34.527 1.206 2.35-67.328z' opacity='.198')
                path(fill='#6E95FA' d='M291.875 1.25l-2.351 67.328 15.537.543 2.351-67.328z' opacity='.198')
                path(fill='#02DFEC' d='M284.345 68.397l-2.351 67.328 5.179.181 2.35-67.328z')
                path(fill='#6E95FA' d='M291.875 1.25l-2.351 67.328 5.178.181 2.352-67.328z')
              g(opacity='.45')
                path(fill='#02DFEC' d='M291.286 67.795l-4.7 67.205 34.464 2.41 4.7-67.205z' opacity='.198')
                path(fill='#6E95FA' d='M301.155.952l-4.7 67.205 15.51 1.084 4.699-67.205z' opacity='.198')
                path(fill='#02DFEC' d='M291.286 67.795l-4.7 67.205 5.17.362 4.7-67.205z')
                path(fill='#6E95FA' d='M301.155.952l-4.7 67.205 5.17.361 4.7-67.205z')
              g(opacity='.463')
                path(fill='#02DFEC' d='M298.248 67.195l-7.042 67 34.359 3.61 7.042-67z' opacity='.198')
                path(fill='#6E95FA' d='M310.444.736l-7.042 67 15.462 1.625 7.042-67z' opacity='.198')
                path(fill='#02DFEC' d='M298.248 67.195l-7.042 67 5.154.541 7.042-67z')
                path(fill='#6E95FA' d='M310.444.736l-7.042 67 5.153.542 7.042-67z')
              g(opacity='.475')
                path(fill='#02DFEC' d='M305.231 66.596l-9.376 66.714 34.212 4.808 9.376-66.714z' opacity='.198')
                path(fill='#6E95FA' d='M319.739.604l-9.376 66.713 15.395 2.164 9.376-66.713z' opacity='.198')
                path(fill='#02DFEC' d='M305.231 66.596l-9.376 66.714 5.132.72 9.376-66.713z')
                path(fill='#6E95FA' d='M319.739.604l-9.376 66.713 5.131.722 9.376-66.714z')
              g(opacity='.487')
                path(fill='#02DFEC' d='M312.235 66l-11.698 66.346 34.023 6L346.258 72z' opacity='.198')
                path(fill='#6E95FA' d='M329.037.555l-11.699 66.346 15.311 2.7 11.699-66.346z' opacity='.198')
                path(fill='#02DFEC' d='M312.235 66l-11.698 66.346 5.103.9 11.698-66.345z')
                path(fill='#6E95FA' d='M329.037.555l-11.699 66.346 5.104.9L334.14 1.454z')
              g(opacity='.5')
                path(fill='#02DFEC' d='M319.26 65.409l-14.007 65.897 33.793 7.183 14.007-65.897z' opacity='.198')
                path(fill='#6E95FA' d='M338.335.59L324.33 66.485l15.207 3.233 14.007-65.897z' opacity='.198')
                path(fill='#02DFEC' d='M319.26 65.409l-14.007 65.897 5.069 1.077 14.007-65.897z')
                path(fill='#6E95FA' d='M338.335.59L324.33 66.485l5.068 1.078 14.007-65.897z')
              g(opacity='.512')
                path(fill='#02DFEC' d='M326.305 64.821l-16.298 65.368 33.522 8.358 16.298-65.368z' opacity='.198')
                path(fill='#6E95FA' d='M347.631.707l-16.298 65.368 15.085 3.761 16.298-65.368z' opacity='.198')
                path(fill='#02DFEC' d='M326.305 64.821l-16.298 65.368 5.028 1.254 16.298-65.368z')
                path(fill='#6E95FA' d='M347.631.707l-16.298 65.368 5.028 1.254L352.66 1.96z')
              g(opacity='.525')
                path(fill='#02DFEC' d='M333.37 64.239l-18.569 64.76 33.21 9.522 18.57-64.76z' opacity='.198')
                path(fill='#6E95FA' d='M356.921.908l-18.57 64.76 14.946 4.285 18.57-64.76z' opacity='.198')
                path(fill='#02DFEC' d='M333.37 64.239l-18.569 64.76 4.982 1.427 18.569-64.759z')
                path(fill='#6E95FA' d='M356.921.908l-18.57 64.76 4.982 1.428 18.57-64.76z')
              g(opacity='.537')
                path(fill='#02DFEC' d='M340.457 63.662l-20.819 64.072 32.857 10.676 20.819-64.072z' opacity='.198')
                path(fill='#6E95FA' d='M366.203 1.192l-20.818 64.072 14.786 4.804 20.818-64.072z' opacity='.198')
                path(fill='#02DFEC' d='M340.457 63.662l-20.819 64.072 4.929 1.601 20.818-64.071z')
                path(fill='#6E95FA' d='M366.203 1.192l-20.818 64.072 4.928 1.6 20.818-64.07z')
              g(opacity='.55')
                path(fill='#02DFEC' d='M347.562 63.092l-23.041 63.306 32.464 11.816 23.042-63.306z' opacity='.198')
                path(fill='#6E95FA' d='M375.474 1.558l-23.042 63.307 14.61 5.317 23.04-63.306z' opacity='.198')
                path(fill='#02DFEC' d='M347.562 63.092l-23.041 63.306 4.87 1.773 23.04-63.306z')
                path(fill='#6E95FA' d='M375.474 1.558l-23.042 63.307 4.87 1.772L380.342 3.33z')
              g(opacity='.563')
                path(fill='#02DFEC' d='M354.688 62.53l-25.237 62.463 32.033 12.942L386.72 75.47z' opacity='.198')
                path(fill='#6E95FA' d='M384.73 2.007l-25.237 62.464 14.415 5.824L399.145 7.83z' opacity='.198')
                path(fill='#02DFEC' d='M354.688 62.53l-25.237 62.463 4.805 1.941 25.237-62.463z')
                path(fill='#6E95FA' d='M384.73 2.007l-25.237 62.464 4.804 1.94 25.237-62.463z')
              g(opacity='.575')
                path(fill='#02DFEC' d='M361.833 61.974l-27.401 61.545 31.561 14.052 27.402-61.545z' opacity='.198')
                path(fill='#6E95FA' d='M393.969 2.537l-27.402 61.545 14.203 6.324L408.172 8.86z' opacity='.198')
                path(fill='#02DFEC' d='M361.833 61.974l-27.401 61.545 4.734 2.108 27.401-61.545z')
                path(fill='#6E95FA' d='M393.969 2.537l-27.402 61.545 4.734 2.108 27.402-61.545z')
              g(opacity='.588')
                path(fill='#02DFEC' d='M368.998 61.428l-29.533 60.55 31.052 15.146 29.532-60.551z' opacity='.198')
                path(fill='#6E95FA' d='M403.188 3.149l-29.533 60.55 13.974 6.816L417.16 9.964z' opacity='.198')
                path(fill='#02DFEC' d='M368.998 61.428l-29.533 60.55 4.658 2.272 29.532-60.55z')
                path(fill='#6E95FA' d='M403.188 3.149l-29.533 60.55 4.658 2.272 29.532-60.55z')
              g(opacity='.6')
                path(fill='#02DFEC' d='M376.181 60.89l-31.628 59.484 30.504 16.22 31.628-59.484z' opacity='.198')
                path(fill='#6E95FA' d='M412.384 3.84l-31.627 59.483 13.727 7.3 31.628-59.484z' opacity='.198')
                path(fill='#02DFEC' d='M376.181 60.89l-31.628 59.484 4.576 2.433 31.628-59.484z')
                path(fill='#6E95FA' d='M412.384 3.84l-31.627 59.483 4.575 2.433L416.96 6.273z')
              g(opacity='.613')
                path(fill='#02DFEC' d='M383.383 60.363l-33.684 58.343 29.919 17.274 33.684-58.343z' opacity='.198')
                path(fill='#6E95FA' d='M421.555 4.611l-33.684 58.343 13.464 7.774 33.684-58.344z' opacity='.198')
                path(fill='#02DFEC' d='M383.383 60.363l-33.684 58.343 4.487 2.591 33.685-58.343z')
                path(fill='#6E95FA' d='M421.555 4.611l-33.684 58.343 4.487 2.591 33.685-58.343z')
              g(opacity='.625')
                path(fill='#02DFEC' d='M390.603 59.846l-35.7 57.133 29.298 18.307 35.7-57.132z' opacity='.198')
                path(fill='#6E95FA' d='M430.698 5.46l-35.7 57.132 13.184 8.24 35.7-57.133z' opacity='.198')
                path(fill='#02DFEC' d='M390.603 59.846l-35.7 57.133 4.395 2.746 35.7-57.133z')
                path(fill='#6E95FA' d='M430.698 5.46l-35.7 57.132 4.394 2.746 35.7-57.132z')
              g(opacity='.637')
                path(fill='#02DFEC' d='M397.841 59.34l-37.672 55.852 28.641 19.32 37.673-55.852z' opacity='.198')
                path(fill='#6E95FA' d='M439.81 6.387l-37.673 55.851 12.89 8.694 37.672-55.851z' opacity='.198')
                path(fill='#02DFEC' d='M397.841 59.34l-37.672 55.852 4.296 2.898 37.672-55.852z')
                path(fill='#6E95FA' d='M439.81 6.387l-37.673 55.851 4.296 2.898 37.673-55.851z')
              g(opacity='.65')
                path(fill='#02DFEC' d='M405.097 58.847l-39.599 54.502 27.95 20.307 39.599-54.502z' opacity='.198')
                path(fill='#6E95FA' d='M448.887 7.39L409.29 61.893l12.578 9.138 39.598-54.503z' opacity='.198')
                path(fill='#02DFEC' d='M405.097 58.847l-39.599 54.502 4.192 3.046 39.599-54.502z')
                path(fill='#6E95FA' d='M448.887 7.39L409.29 61.893l4.192 3.046 39.599-54.503z')
              g(opacity='.662')
                path(fill='#02DFEC' d='M412.37 58.365l-41.477 53.088 27.224 21.27 41.476-53.088z' opacity='.198')
                path(fill='#6E95FA' d='M457.929 8.468l-41.476 53.088 12.25 9.571L470.18 18.04z' opacity='.198')
                path(fill='#02DFEC' d='M412.37 58.365l-41.477 53.088 4.083 3.19 41.477-53.087z')
                path(fill='#6E95FA' d='M457.929 8.468l-41.476 53.088 4.083 3.19 41.476-53.088z')
              g(opacity='.675')
                path(fill='#02DFEC' d='M419.658 57.897l-43.304 51.607 26.465 22.207 43.304-51.607z' opacity='.198')
                path(fill='#6E95FA' d='M466.932 9.62l-43.304 51.608 11.91 9.993 43.303-51.608z' opacity='.198')
                path(fill='#02DFEC' d='M419.658 57.897l-43.304 51.607 3.97 3.331 43.304-51.607z')
                path(fill='#6E95FA' d='M466.932 9.62l-43.304 51.608 3.97 3.33L470.9 12.952z')
              g(opacity='.688')
                path(fill='#02DFEC' d='M426.963 57.442l-45.078 50.065 25.674 23.117 45.078-50.065z' opacity='.198')
                path(fill='#6E95FA' d='M475.893 10.844L430.814 60.91l11.554 10.403 45.079-50.065z' opacity='.198')
                path(fill='#02DFEC' d='M426.963 57.442l-45.078 50.065 3.85 3.467 45.08-50.065z')
                path(fill='#6E95FA' d='M475.893 10.844L430.814 60.91l3.851 3.467 45.079-50.064z')
              g(opacity='.7')
                path(fill='#02DFEC' d='M434.284 57l-46.798 48.462 24.851 23.999L459.136 81z' opacity='.198')
                path(fill='#6E95FA' d='M484.81 12.14L438.012 60.6l11.183 10.8 46.799-48.461z' opacity='.198')
                path(fill='#02DFEC' d='M434.284 57l-46.798 48.462 3.727 3.6L438.012 60.6z')
                path(fill='#6E95FA' d='M484.81 12.14L438.012 60.6l3.727 3.6 46.799-48.461z')
              g(opacity='.713')
                path(fill='#02DFEC' d='M441.62 56.574l-48.461 46.799 23.999 24.851 48.461-46.798z' opacity='.198')
                path(fill='#6E95FA' d='M493.681 13.503L445.22 60.302l10.8 11.183 48.46-46.798z' opacity='.198')
                path(fill='#02DFEC' d='M441.62 56.574l-48.461 46.799 3.6 3.727 48.46-46.798z')
                path(fill='#6E95FA' d='M493.681 13.503L445.22 60.302l3.6 3.728 48.46-46.799z')
              g(opacity='.725')
                path(fill='#02DFEC' d='M448.97 56.163l-50.064 45.079 23.117 25.674 50.065-45.079z' opacity='.198')
                path(fill='#6E95FA' d='M502.503 14.935l-50.065 45.08 10.403 11.553 50.065-45.079z' opacity='.198')
                path(fill='#02DFEC' d='M448.97 56.163l-50.064 45.079 3.467 3.85 50.065-45.078z')
                path(fill='#6E95FA' d='M502.503 14.935l-50.065 45.08 3.467 3.85 50.065-45.079z')
              g(opacity='.738')
                path(fill='#02DFEC' d='M456.335 55.768L404.728 99.07l22.207 26.466 51.607-43.304z' opacity='.198')
                path(fill='#6E95FA' d='M511.274 16.433l-51.608 43.304 9.994 11.91 51.607-43.304z' opacity='.198')
                path(fill='#02DFEC' d='M456.335 55.768L404.728 99.07l3.33 3.97 51.608-43.304z')
                path(fill='#6E95FA' d='M511.274 16.433l-51.608 43.304 3.331 3.97 51.608-43.304z')
              g(opacity='.75')
                path(fill='#02DFEC' d='M463.713 55.388l-53.087 41.477 21.27 27.224 53.087-41.477z' opacity='.198')
                path(fill='#6E95FA' d='M519.991 17.995l-53.087 41.477 9.572 12.25 53.087-41.476z' opacity='.198')
                path(fill='#02DFEC' d='M463.713 55.388l-53.087 41.477 3.19 4.083 53.088-41.476z')
                path(fill='#6E95FA' d='M519.991 17.995l-53.087 41.477 3.19 4.083 53.088-41.477z')
              g(opacity='.762')
                path(fill='#02DFEC' d='M471.105 55.025l-54.503 39.599 20.307 27.95 54.502-39.599z' opacity='.198')
                path(fill='#6E95FA' d='M528.653 19.619l-54.502 39.599 9.138 12.577 54.502-39.598z' opacity='.198')
                path(fill='#02DFEC' d='M471.105 55.025l-54.503 39.599 3.046 4.192 54.503-39.598z')
                path(fill='#6E95FA' d='M528.653 19.619l-54.502 39.599 3.045 4.192L531.7 23.81z')
              g(opacity='.775')
                path(fill='#02DFEC' d='M478.508 54.68l-55.851 37.672 19.319 28.641 55.851-37.672z' opacity='.198')
                path(fill='#6E95FA' d='M537.257 21.303l-55.851 37.672 8.694 12.89 55.851-37.673z' opacity='.198')
                path(fill='#02DFEC' d='M478.508 54.68l-55.851 37.672 2.897 4.296 55.852-37.673z')
                path(fill='#6E95FA' d='M537.257 21.303l-55.851 37.672 2.898 4.296L540.155 25.6z')
              g(opacity='.787')
                path(fill='#02DFEC' d='M485.923 54.35l-57.132 35.701L447.1 119.35l57.132-35.7z' opacity='.198')
                path(fill='#6E95FA' d='M545.802 23.045l-57.133 35.7 8.24 13.185 57.131-35.7z' opacity='.198')
                path(fill='#02DFEC' d='M485.923 54.35l-57.132 35.701 2.746 4.395 57.132-35.7z')
                path(fill='#6E95FA' d='M545.802 23.045l-57.133 35.7 2.746 4.395 57.133-35.7z')
              g(opacity='.8')
                path(fill='#02DFEC' d='M493.35 54.04l-58.343 33.685 17.274 29.92 58.343-33.685z' opacity='.198')
                path(fill='#6E95FA' d='M554.284 24.844l-58.343 33.684 7.773 13.464 58.344-33.684z' opacity='.198')
                path(fill='#02DFEC' d='M493.35 54.04l-58.343 33.685 2.59 4.488 58.344-33.685z')
                path(fill='#6E95FA' d='M554.284 24.844l-58.343 33.684 2.59 4.488 58.344-33.685z')
              g(opacity='.813')
                path(fill='#02DFEC' d='M500.787 53.748l-59.484 31.628 16.22 30.504 59.483-31.628z' opacity='.198')
                path(fill='#6E95FA' d='M562.703 26.696L503.22 58.323l7.298 13.728 59.484-31.628z' opacity='.198')
                path(fill='#02DFEC' d='M500.787 53.748l-59.484 31.628 2.433 4.575 59.484-31.628z')
                path(fill='#6E95FA' d='M562.703 26.696L503.22 58.323l2.432 4.576 59.484-31.628z')
              g(opacity='.825')
                path(fill='#02DFEC' d='M508.234 53.474l-60.551 29.533 15.145 31.051 60.55-29.532z' opacity='.198')
                path(fill='#6E95FA' d='M571.056 28.6l-60.55 29.532 6.815 13.973 60.55-29.532z' opacity='.198')
                path(fill='#02DFEC' d='M508.234 53.474l-60.551 29.533 2.271 4.658 60.551-29.533z')
                path(fill='#6E95FA' d='M571.056 28.6l-60.55 29.532 2.27 4.657 60.552-29.532z')
              g(opacity='.838')
                path(fill='#02DFEC' d='M515.69 53.22l-61.545 27.4 14.052 31.562 61.545-27.401z' opacity='.198')
                path(fill='#6E95FA' d='M579.342 30.552l-61.545 27.401 6.324 14.203 61.545-27.401z' opacity='.198')
                path(fill='#02DFEC' d='M515.69 53.22l-61.545 27.4 2.108 4.735 61.544-27.402z')
                path(fill='#6E95FA' d='M579.342 30.552l-61.545 27.401 2.108 4.734 61.545-27.401z')
              g(opacity='.85')
                path(fill='#02DFEC' d='M523.154 52.984L460.691 78.22l12.942 32.032 62.463-25.237z' opacity='.198')
                path(fill='#6E95FA' d='M587.559 32.552l-62.463 25.237 5.824 14.414 62.463-25.236z' opacity='.198')
                path(fill='#02DFEC' d='M523.154 52.984L460.691 78.22l1.941 4.804 62.464-25.236z')
                path(fill='#6E95FA' d='M587.559 32.552l-62.463 25.237 1.94 4.804L589.5 37.356z')
              g(opacity='.863')
                path(fill='#02DFEC' d='M530.627 52.768L467.32 75.809l11.816 32.465 63.306-23.042z' opacity='.198')
                path(fill='#6E95FA' d='M595.705 34.596L532.4 57.637l5.318 14.61 63.306-23.042z' opacity='.198')
                path(fill='#02DFEC' d='M530.627 52.768L467.32 75.809l1.772 4.87 63.306-23.042z')
                path(fill='#6E95FA' d='M595.705 34.596L532.4 57.637l1.773 4.87 63.306-23.042z')
              g(opacity='.875')
                path(fill='#02DFEC' d='M538.107 52.572L474.035 73.39l10.676 32.857 64.071-20.818z' opacity='.198')
                path(fill='#6E95FA' d='M603.78 36.682L539.708 57.5l4.804 14.786 64.072-20.818z' opacity='.198')
                path(fill='#02DFEC' d='M538.107 52.572L474.035 73.39l1.601 4.928L539.708 57.5z')
                path(fill='#6E95FA' d='M603.78 36.682L539.708 57.5l1.601 4.928 64.072-20.818z')
              g(opacity='.887')
                path(fill='#02DFEC' d='M545.593 52.395l-64.76 18.57 9.523 33.21 64.76-18.57z' opacity='.198')
                path(fill='#6E95FA' d='M611.78 38.807l-64.759 18.57 4.285 14.944 64.76-18.57z' opacity='.198')
                path(fill='#02DFEC' d='M545.593 52.395l-64.76 18.57 1.429 4.98 64.76-18.569z')
                path(fill='#6E95FA' d='M611.78 38.807l-64.759 18.57 1.428 4.98 64.76-18.569z')
              g(opacity='.9')
                path(fill='#02DFEC' d='M553.085 52.24l-65.368 16.297 8.358 33.522 65.368-16.298z' opacity='.198')
                path(fill='#6E95FA' d='M619.706 40.97l-65.368 16.297 3.762 15.085 65.367-16.298z' opacity='.198')
                path(fill='#02DFEC' d='M553.085 52.24l-65.368 16.297 1.254 5.028 65.367-16.298z')
                path(fill='#6E95FA' d='M619.706 40.97l-65.368 16.297 1.254 5.028 65.368-16.298z')
              g(opacity='.912')
                path(fill='#02DFEC' d='M560.582 52.104L494.685 66.11l7.183 33.793 65.897-14.006z' opacity='.198')
                path(fill='#6E95FA' d='M627.556 43.165L561.66 57.172l3.233 15.208 65.896-14.007z' opacity='.198')
                path(fill='#02DFEC' d='M560.582 52.104L494.685 66.11l1.077 5.07 65.897-14.008z')
                path(fill='#6E95FA' d='M627.556 43.165L561.66 57.172l1.078 5.069 65.896-14.007z')
              g(opacity='.925')
                path(fill='#02DFEC' d='M568.083 51.988l-66.345 11.699 5.999 34.023 66.346-11.698z' opacity='.198')
                path(fill='#6E95FA' d='M635.329 45.393l-66.346 11.699 2.7 15.31 66.345-11.698z' opacity='.198')
                path(fill='#02DFEC' d='M568.083 51.988l-66.345 11.699.9 5.103 66.345-11.698z')
                path(fill='#6E95FA' d='M635.329 45.393l-66.346 11.699.9 5.103 66.346-11.699z')
              g(opacity='.938')
                path(fill='#02DFEC' d='M575.588 51.894l-66.713 9.376 4.808 34.212 66.714-9.376z' opacity='.198')
                path(fill='#6E95FA' d='M643.023 47.65l-66.713 9.376 2.163 15.395 66.714-9.376z' opacity='.198')
                path(fill='#02DFEC' d='M575.588 51.894l-66.713 9.376.721 5.132 66.714-9.376z')
                path(fill='#6E95FA' d='M643.023 47.65l-66.713 9.376.72 5.131 66.714-9.376z')
              g(opacity='.95')
                path(fill='#02DFEC' d='M583.097 51.82l-67 7.043 3.61 34.358 67-7.042z' opacity='.198')
                path(fill='#6E95FA' d='M650.638 49.932l-67 7.042 1.625 15.462 67-7.042z' opacity='.198')
                path(fill='#02DFEC' d='M583.097 51.82l-67 7.043.541 5.153 67-7.042z')
                path(fill='#6E95FA' d='M650.638 49.932l-67 7.042.542 5.154 67-7.042z')
              g(opacity='.963')
                path(fill='#02DFEC' d='M590.607 51.768l-67.205 4.7 2.41 34.463 67.205-4.7z' opacity='.198')
                path(fill='#6E95FA' d='M658.173 52.238l-67.205 4.7 1.085 15.509 67.205-4.7z' opacity='.198')
                path(fill='#02DFEC' d='M590.607 51.768l-67.205 4.7.361 5.169 67.205-4.7z')
                path(fill='#6E95FA' d='M658.173 52.238l-67.205 4.7.362 5.169 67.205-4.7z')
              g(opacity='.975')
                path(fill='#02DFEC' d='M598.119 51.737l-67.328 2.35 1.205 34.528 67.328-2.352z' opacity='.198')
                path(fill='#6E95FA' d='M665.627 54.564L598.3 56.915l.543 15.538 67.328-2.351z' opacity='.198')
                path(fill='#02DFEC' d='M598.119 51.737l-67.328 2.35.18 5.18 67.328-2.352z')
                path(fill='#6E95FA' d='M665.627 54.564L598.3 56.915l.181 5.18 67.328-2.352z')
              g(opacity='.988')
                path(fill='#02DFEC' d='M605.631 51.726h-67.369v34.548h67.369z' opacity='.198')
                path(fill='#6E95FA' d='M673 56.908h-67.369v15.547H673z' opacity='.198')
                path(fill='#02DFEC' d='M605.631 51.726h-67.369v5.182h67.369z')
                path(fill='#6E95FA' d='M673 56.908h-67.369v5.182H673z')

          img.platform__graphic-img(src=require('images/ui.jpg'), title='A fully-fledged, mature platform.', alt='A fully-fledged, mature platform.')

          svg.platform__graphic-wave.platform__graphic-wave--bottom(xmlns='http://www.w3.org/2000/svg' width='649' height='139' viewBox='0 0 649 139')
            g(fill='none' fill-rule='evenodd')
              g(opacity='.013')
                path(fill='#02DFEC' d='M59.656 84.78l61.544 27.402 14.052-31.561L73.708 53.22z' opacity='.198')
                path(fill='#6E95FA' d='M.219 52.645l61.544 27.402 6.324-14.203L6.542 38.442z' opacity='.198')
                path(fill='#02DFEC' d='M59.656 84.78l61.544 27.402 2.108-4.734-61.545-27.401z')
                path(fill='#6E95FA' d='M.219 52.645l61.544 27.402 2.108-4.734L2.327 47.91z')
              g(opacity='.025')
                path(fill='#02DFEC' d='M66.019 84.526l60.55 29.533 15.146-31.052-60.551-29.533z' opacity='.198')
                path(fill='#6E95FA' d='M7.74 50.336l60.55 29.532 6.816-13.973-60.55-29.533z' opacity='.198')
                path(fill='#02DFEC' d='M66.019 84.526l60.55 29.533 2.272-4.658-60.55-29.533z')
                path(fill='#6E95FA' d='M7.74 50.336l60.55 29.532 2.272-4.657-60.55-29.533z')
              g(opacity='.037')
                path(fill='#02DFEC' d='M72.391 84.252l59.484 31.628 16.219-30.504L88.61 53.748z' opacity='.198')
                path(fill='#6E95FA' d='M15.34 48.049l59.484 31.628 7.299-13.727L22.64 34.322z' opacity='.198')
                path(fill='#02DFEC' d='M72.391 84.252l59.484 31.628 2.432-4.575-59.483-31.628z')
                path(fill='#6E95FA' d='M15.34 48.049l59.484 31.628 2.433-4.576-59.483-31.628z')
              g(opacity='.05')
                path(fill='#02DFEC' d='M78.774 83.96l58.343 33.684 17.274-29.92L96.048 54.04z' opacity='.198')
                path(fill='#6E95FA' d='M23.021 45.788l58.344 33.684 7.773-13.464-58.343-33.684z' opacity='.198')
                path(fill='#02DFEC' d='M78.774 83.96l58.343 33.684 2.59-4.487-58.342-33.685z')
                path(fill='#6E95FA' d='M23.021 45.788l58.344 33.684 2.59-4.488L25.613 41.3z')
              g(opacity='.063')
                path(fill='#02DFEC' d='M85.166 83.65l57.132 35.7 18.308-29.299-57.132-35.7z' opacity='.198')
                path(fill='#6E95FA' d='M30.78 43.555l57.132 35.7 8.239-13.185-57.132-35.7z' opacity='.198')
                path(fill='#02DFEC' d='M85.166 83.65l57.132 35.7 2.747-4.395-57.133-35.7z')
                path(fill='#6E95FA' d='M30.78 43.555l57.132 35.7 2.746-4.395-57.132-35.7z')
              g(opacity='.075')
                path(fill='#02DFEC' d='M91.57 83.321l55.852 37.672 19.319-28.641-55.852-37.673z' opacity='.198')
                path(fill='#6E95FA' d='M38.617 41.353l55.851 37.672 8.694-12.89L47.31 28.465z' opacity='.198')
                path(fill='#02DFEC' d='M91.57 83.321l55.852 37.672 2.897-4.296-55.851-37.672z')
                path(fill='#6E95FA' d='M38.617 41.353l55.851 37.672 2.898-4.296-55.852-37.672z')
              g(opacity='.087')
                path(fill='#02DFEC' d='M97.986 82.975l54.503 39.599 20.306-27.95-54.502-39.599z' opacity='.198')
                path(fill='#6E95FA' d='M46.53 39.184l54.502 39.599 9.138-12.578-54.502-39.598z' opacity='.198')
                path(fill='#02DFEC' d='M97.986 82.975l54.503 39.599 3.046-4.193-54.503-39.598z')
                path(fill='#6E95FA' d='M46.53 39.184l54.502 39.599 3.046-4.193-54.503-39.598z')
              g(opacity='.1')
                path(fill='#02DFEC' d='M104.414 82.612l53.088 41.477 21.27-27.224-53.088-41.477z' opacity='.198')
                path(fill='#6E95FA' d='M54.517 37.052l53.087 41.477 9.572-12.251L64.09 24.8z' opacity='.198')
                path(fill='#02DFEC' d='M104.414 82.612l53.088 41.477 3.19-4.084-53.088-41.476z')
                path(fill='#6E95FA' d='M54.517 37.052l53.087 41.477 3.19-4.084L57.708 32.97z')
              g(opacity='.113')
                path(fill='#02DFEC' d='M110.855 82.233l51.608 43.304 22.207-26.465-51.608-43.304z' opacity='.198')
                path(fill='#6E95FA' d='M62.578 34.96l51.608 43.303 9.993-11.91L72.572 23.05z' opacity='.198')
                path(fill='#02DFEC' d='M110.855 82.233l51.608 43.304 3.33-3.97-51.607-43.304z')
                path(fill='#6E95FA' d='M62.578 34.96l51.608 43.303 3.33-3.97L65.91 30.99z')
              g(opacity='.125')
                path(fill='#02DFEC' d='M117.31 81.837l50.065 45.079 23.117-25.674-50.065-45.079z' opacity='.198')
                path(fill='#6E95FA' d='M70.712 32.908l50.065 45.078 10.403-11.553-50.065-45.079z' opacity='.198')
                path(fill='#02DFEC' d='M117.31 81.837l50.065 45.079 3.467-3.851-50.065-45.079z')
                path(fill='#6E95FA' d='M70.712 32.908l50.065 45.078 3.467-3.85-50.064-45.08z')
              g(opacity='.138')
                path(fill='#02DFEC' d='M123.778 81.426l48.461 46.799 24-24.852-48.462-46.799z' opacity='.198')
                path(fill='#6E95FA' d='M78.917 30.9l48.461 46.798 10.8-11.183-48.461-46.799z' opacity='.198')
                path(fill='#02DFEC' d='M123.778 81.426l48.461 46.799 3.6-3.728-48.461-46.799z')
                path(fill='#6E95FA' d='M78.917 30.9l48.461 46.798 3.6-3.727-48.461-46.799z')
              g(opacity='.15')
                path(fill='#02DFEC' d='M130.262 81l46.798 48.461 24.852-24-46.799-48.46z' opacity='.198')
                path(fill='#6E95FA' d='M87.19 28.939l46.8 48.461 11.183-10.8L98.374 18.14z' opacity='.198')
                path(fill='#02DFEC' d='M130.262 81l46.798 48.461 3.728-3.6L133.989 77.4z')
                path(fill='#6E95FA' d='M87.19 28.939l46.8 48.461 3.727-3.6-46.799-48.46z')
              g(opacity='.163')
                path(fill='#02DFEC' d='M136.76 80.559l45.079 50.065 25.674-23.117-45.079-50.065z' opacity='.198')
                path(fill='#6E95FA' d='M95.532 27.026l45.079 50.065 11.554-10.403-45.08-50.065z' opacity='.198')
                path(fill='#02DFEC' d='M136.76 80.559l45.079 50.065 3.85-3.468-45.078-50.065z')
                path(fill='#6E95FA' d='M95.532 27.026l45.079 50.065 3.85-3.467-45.078-50.065z')
              g(opacity='.175')
                path(fill='#02DFEC' d='M143.274 80.104l43.304 51.607 26.465-22.207-43.304-51.607z' opacity='.198')
                path(fill='#6E95FA' d='M103.94 25.165l43.304 51.608 11.91-9.994-43.305-51.607z' opacity='.198')
                path(fill='#02DFEC' d='M143.274 80.104l43.304 51.607 3.97-3.33-43.304-51.608z')
                path(fill='#6E95FA' d='M103.94 25.165l43.304 51.608 3.97-3.331-43.305-51.608z')
              g(opacity='.188')
                path(fill='#02DFEC' d='M149.804 79.635l41.477 53.088 27.224-21.27-41.477-53.088z' opacity='.198')
                path(fill='#6E95FA' d='M112.411 23.357l41.477 53.088 12.25-9.572-41.476-53.087z' opacity='.198')
                path(fill='#02DFEC' d='M149.804 79.635l41.477 53.088 4.083-3.19-41.476-53.088z')
                path(fill='#6E95FA' d='M112.411 23.357l41.477 53.088 4.083-3.19-41.476-53.088z')
              g(opacity='.2')
                path(fill='#02DFEC' d='M156.35 79.154l39.6 54.502 27.95-20.306-39.6-54.503z' opacity='.198')
                path(fill='#6E95FA' d='M120.945 21.605l39.598 54.503 12.578-9.139-39.599-54.502z' opacity='.198')
                path(fill='#02DFEC' d='M156.35 79.154l39.6 54.502 4.192-3.046-39.599-54.502z')
                path(fill='#6E95FA' d='M120.945 21.605l39.598 54.503 4.193-3.046-39.599-54.503z')
              g(opacity='.212')
                path(fill='#02DFEC' d='M162.915 78.66l37.672 55.851 28.641-19.319-37.672-55.851z' opacity='.198')
                path(fill='#6E95FA' d='M129.538 19.91l37.673 55.852 12.889-8.694-37.673-55.851z' opacity='.198')
                path(fill='#02DFEC' d='M162.915 78.66l37.672 55.851 4.296-2.898-37.672-55.851z')
                path(fill='#6E95FA' d='M129.538 19.91l37.673 55.852 4.296-2.898-37.672-55.851z')
              g(opacity='.225')
                path(fill='#02DFEC' d='M169.496 78.154l35.7 57.132 29.298-18.307-35.7-57.133z' opacity='.198')
                path(fill='#6E95FA' d='M138.19 18.276l35.7 57.132 13.185-8.239-35.7-57.132z' opacity='.198')
                path(fill='#02DFEC' d='M169.496 78.154l35.7 57.132 4.395-2.746-35.7-57.132z')
                path(fill='#6E95FA' d='M138.19 18.276l35.7 57.132 4.395-2.746-35.7-57.132z')
              g(opacity='.237')
                path(fill='#02DFEC' d='M176.095 77.637l33.684 58.344 29.92-17.274-33.685-58.344z' opacity='.198')
                path(fill='#6E95FA' d='M146.898 16.703l33.685 58.343 13.464-7.773-33.685-58.344z' opacity='.198')
                path(fill='#02DFEC' d='M176.095 77.637l33.684 58.344 4.488-2.591-33.684-58.344z')
                path(fill='#6E95FA' d='M146.898 16.703l33.685 58.343 4.487-2.59-33.684-58.344z')
              g(opacity='.25')
                path(fill='#02DFEC' d='M182.712 77.11l31.628 59.483 30.504-16.22-31.628-59.482z' opacity='.198')
                path(fill='#6E95FA' d='M155.66 15.194l31.628 59.483 13.727-7.299-31.628-59.483z' opacity='.198')
                path(fill='#02DFEC' d='M182.712 77.11l31.628 59.483 4.575-2.433-31.627-59.483z')
                path(fill='#6E95FA' d='M155.66 15.194l31.628 59.483 4.575-2.433-31.628-59.483z')
              g(opacity='.263')
                path(fill='#02DFEC' d='M189.348 76.573l29.533 60.55 31.051-15.144L220.4 61.428z' opacity='.198')
                path(fill='#6E95FA' d='M164.473 13.75l29.533 60.551 13.973-6.815-29.532-60.551z' opacity='.198')
                path(fill='#02DFEC' d='M189.348 76.573l29.533 60.55 4.657-2.271L194.006 74.3z')
                path(fill='#6E95FA' d='M164.473 13.75l29.533 60.551 4.657-2.272-29.532-60.55z')
              g(opacity='.275')
                path(fill='#02DFEC' d='M196.003 76.026l27.401 61.545 31.561-14.052-27.401-61.545z' opacity='.198')
                path(fill='#6E95FA' d='M173.335 12.374l27.402 61.545 14.203-6.324L187.538 6.05z' opacity='.198')
                path(fill='#02DFEC' d='M196.003 76.026l27.401 61.545 4.734-2.108-27.401-61.544z')
                path(fill='#6E95FA' d='M173.335 12.374l27.402 61.545 4.734-2.108-27.402-61.545z')
              g(opacity='.287')
                path(fill='#02DFEC' d='M202.677 75.471l25.237 62.464 32.032-12.942-25.237-62.464z' opacity='.198')
                path(fill='#6E95FA' d='M182.245 11.067l25.237 62.463 14.414-5.824L196.66 5.243z' opacity='.198')
                path(fill='#02DFEC' d='M202.677 75.471l25.237 62.464 4.804-1.942-25.236-62.463z')
                path(fill='#6E95FA' d='M182.245 11.067l25.237 62.463 4.804-1.941L187.05 9.125z')
              g(opacity='.3')
                path(fill='#02DFEC' d='M209.37 74.908l23.042 63.306 32.464-11.816-23.041-63.306z' opacity='.198')
                path(fill='#6E95FA' d='M191.198 9.83l23.042 63.306 14.61-5.317-23.042-63.307z' opacity='.198')
                path(fill='#02DFEC' d='M209.37 74.908l23.042 63.306 4.87-1.772-23.042-63.306z')
                path(fill='#6E95FA' d='M191.198 9.83l23.042 63.306 4.87-1.772-23.042-63.307z')
              g(opacity='.313')
                path(fill='#02DFEC' d='M216.084 74.338l20.818 64.072 32.857-10.676-20.818-64.072z' opacity='.198')
                path(fill='#6E95FA' d='M200.194 8.665l20.818 64.072 14.786-4.804L214.98 3.86z' opacity='.198')
                path(fill='#02DFEC' d='M216.084 74.338l20.818 64.072 4.928-1.601-20.818-64.072z')
                path(fill='#6E95FA' d='M200.194 8.665l20.818 64.072 4.928-1.601-20.818-64.072z')
              g(opacity='.325')
                path(fill='#02DFEC' d='M222.817 73.762l18.57 64.759 33.21-9.523-18.57-64.76z' opacity='.198')
                path(fill='#6E95FA' d='M209.229 7.574l18.57 64.76 14.944-4.286-18.57-64.76z' opacity='.198')
                path(fill='#02DFEC' d='M222.817 73.762l18.57 64.759 4.98-1.428-18.569-64.76z')
                path(fill='#6E95FA' d='M209.229 7.574l18.57 64.76 4.98-1.43L214.21 6.147z')
              g(opacity='.338')
                path(fill='#02DFEC' d='M229.57 73.18l16.299 65.367 33.521-8.358-16.298-65.368z' opacity='.198')
                path(fill='#6E95FA' d='M218.3 6.558L234.6 71.926l15.085-3.762-16.298-65.367z' opacity='.198')
                path(fill='#02DFEC' d='M229.57 73.18l16.299 65.367 5.028-1.254-16.298-65.367z')
                path(fill='#6E95FA' d='M218.3 6.558L234.6 71.926l5.028-1.254-16.298-65.368z')
              g(opacity='.35')
                path(fill='#02DFEC' d='M236.345 72.592l14.006 65.897 33.793-7.183-14.006-65.897z' opacity='.198')
                path(fill='#6E95FA' d='M227.406 5.618l14.007 65.896 15.208-3.232-14.007-65.897z' opacity='.198')
                path(fill='#02DFEC' d='M236.345 72.592l14.006 65.897 5.07-1.078-14.008-65.897z')
                path(fill='#6E95FA' d='M227.406 5.618l14.007 65.896 5.07-1.077L232.474 4.54z')
              g(opacity='.362')
                path(fill='#02DFEC' d='M243.14 72l11.698 66.345 34.023-5.999-11.699-66.345z' opacity='.198')
                path(fill='#6E95FA' d='M236.544 4.755L248.242 71.1l15.311-2.7-11.698-66.345z' opacity='.198')
                path(fill='#02DFEC' d='M243.14 72l11.698 66.345 5.103-.9L248.242 71.1z')
                path(fill='#6E95FA' d='M236.544 4.755L248.242 71.1l5.104-.9-11.699-66.345z')
              g(opacity='.375')
                path(fill='#02DFEC' d='M249.954 71.404l9.376 66.714 34.212-4.808-9.376-66.714z' opacity='.198')
                path(fill='#6E95FA' d='M245.71 3.97l9.376 66.713 15.396-2.164-9.376-66.713z' opacity='.198')
                path(fill='#02DFEC' d='M249.954 71.404l9.376 66.714 5.132-.721-9.376-66.714z')
                path(fill='#6E95FA' d='M245.71 3.97l9.376 66.713 5.132-.721-9.376-66.713z')
              g(opacity='.388')
                path(fill='#02DFEC' d='M256.79 70.806l7.042 67 34.36-3.611-7.043-67z' opacity='.198')
                path(fill='#6E95FA' d='M254.902 3.264l7.042 67 15.462-1.625-7.042-67z' opacity='.198')
                path(fill='#02DFEC' d='M256.79 70.806l7.042 67 5.154-.542-7.042-67z')
                path(fill='#6E95FA' d='M254.902 3.264l7.042 67 5.154-.541-7.042-67z')
              g(opacity='.4')
                path(fill='#02DFEC' d='M263.648 70.205l4.699 67.205 34.464-2.41-4.7-67.205z' opacity='.198')
                path(fill='#6E95FA' d='M264.118 2.639l4.699 67.205 15.51-1.085-4.7-67.205z' opacity='.198')
                path(fill='#02DFEC' d='M263.648 70.205l4.699 67.205 5.17-.361-4.7-67.205z')
                path(fill='#6E95FA' d='M264.118 2.639l4.699 67.205 5.17-.362-4.7-67.205z')
              g(opacity='.412')
                path(fill='#02DFEC' d='M270.526 69.603l2.35 67.328 34.528-1.206-2.351-67.328z' opacity='.198')
                path(fill='#6E95FA' d='M273.353 2.094l2.351 67.328 15.538-.542-2.351-67.328z' opacity='.198')
                path(fill='#02DFEC' d='M270.526 69.603l2.35 67.328 5.18-.18-2.352-67.329z')
                path(fill='#6E95FA' d='M273.353 2.094l2.351 67.328 5.18-.18-2.352-67.329z')
              g(opacity='.425')
                path(fill='#02DFEC' d='M277.425 69v67.37h34.548V69z' opacity='.198')
                path(fill='#6E95FA' d='M282.607 1.631v67.37h15.547V1.63z' opacity='.198')
                path(fill='#02DFEC' d='M277.425 69v67.37h5.182V69z')
                path(fill='#6E95FA' d='M282.607 1.631v67.37h5.182V1.63z')
              g(opacity='.438')
                path(fill='#02DFEC' d='M284.345 68.397l-2.351 67.328 34.527 1.206 2.35-67.328z' opacity='.198')
                path(fill='#6E95FA' d='M291.875 1.25l-2.351 67.328 15.537.543 2.351-67.328z' opacity='.198')
                path(fill='#02DFEC' d='M284.345 68.397l-2.351 67.328 5.179.181 2.35-67.328z')
                path(fill='#6E95FA' d='M291.875 1.25l-2.351 67.328 5.178.181 2.352-67.328z')
              g(opacity='.45')
                path(fill='#02DFEC' d='M291.286 67.795l-4.7 67.205 34.464 2.41 4.7-67.205z' opacity='.198')
                path(fill='#6E95FA' d='M301.155.952l-4.7 67.205 15.51 1.084 4.699-67.205z' opacity='.198')
                path(fill='#02DFEC' d='M291.286 67.795l-4.7 67.205 5.17.362 4.7-67.205z')
                path(fill='#6E95FA' d='M301.155.952l-4.7 67.205 5.17.361 4.7-67.205z')
              g(opacity='.463')
                path(fill='#02DFEC' d='M298.248 67.195l-7.042 67 34.359 3.61 7.042-67z' opacity='.198')
                path(fill='#6E95FA' d='M310.444.736l-7.042 67 15.462 1.625 7.042-67z' opacity='.198')
                path(fill='#02DFEC' d='M298.248 67.195l-7.042 67 5.154.541 7.042-67z')
                path(fill='#6E95FA' d='M310.444.736l-7.042 67 5.153.542 7.042-67z')
              g(opacity='.475')
                path(fill='#02DFEC' d='M305.231 66.596l-9.376 66.714 34.212 4.808 9.376-66.714z' opacity='.198')
                path(fill='#6E95FA' d='M319.739.604l-9.376 66.713 15.395 2.164 9.376-66.713z' opacity='.198')
                path(fill='#02DFEC' d='M305.231 66.596l-9.376 66.714 5.132.72 9.376-66.713z')
                path(fill='#6E95FA' d='M319.739.604l-9.376 66.713 5.131.722 9.376-66.714z')
              g(opacity='.487')
                path(fill='#02DFEC' d='M312.235 66l-11.698 66.346 34.023 6L346.258 72z' opacity='.198')
                path(fill='#6E95FA' d='M329.037.555l-11.699 66.346 15.311 2.7 11.699-66.346z' opacity='.198')
                path(fill='#02DFEC' d='M312.235 66l-11.698 66.346 5.103.9 11.698-66.345z')
                path(fill='#6E95FA' d='M329.037.555l-11.699 66.346 5.104.9L334.14 1.454z')
              g(opacity='.5')
                path(fill='#02DFEC' d='M319.26 65.409l-14.007 65.897 33.793 7.183 14.007-65.897z' opacity='.198')
                path(fill='#6E95FA' d='M338.335.59L324.33 66.485l15.207 3.233 14.007-65.897z' opacity='.198')
                path(fill='#02DFEC' d='M319.26 65.409l-14.007 65.897 5.069 1.077 14.007-65.897z')
                path(fill='#6E95FA' d='M338.335.59L324.33 66.485l5.068 1.078 14.007-65.897z')
              g(opacity='.512')
                path(fill='#02DFEC' d='M326.305 64.821l-16.298 65.368 33.522 8.358 16.298-65.368z' opacity='.198')
                path(fill='#6E95FA' d='M347.631.707l-16.298 65.368 15.085 3.761 16.298-65.368z' opacity='.198')
                path(fill='#02DFEC' d='M326.305 64.821l-16.298 65.368 5.028 1.254 16.298-65.368z')
                path(fill='#6E95FA' d='M347.631.707l-16.298 65.368 5.028 1.254L352.66 1.96z')
              g(opacity='.525')
                path(fill='#02DFEC' d='M333.37 64.239l-18.569 64.76 33.21 9.522 18.57-64.76z' opacity='.198')
                path(fill='#6E95FA' d='M356.921.908l-18.57 64.76 14.946 4.285 18.57-64.76z' opacity='.198')
                path(fill='#02DFEC' d='M333.37 64.239l-18.569 64.76 4.982 1.427 18.569-64.759z')
                path(fill='#6E95FA' d='M356.921.908l-18.57 64.76 4.982 1.428 18.57-64.76z')
              g(opacity='.537')
                path(fill='#02DFEC' d='M340.457 63.662l-20.819 64.072 32.857 10.676 20.819-64.072z' opacity='.198')
                path(fill='#6E95FA' d='M366.203 1.192l-20.818 64.072 14.786 4.804 20.818-64.072z' opacity='.198')
                path(fill='#02DFEC' d='M340.457 63.662l-20.819 64.072 4.929 1.601 20.818-64.071z')
                path(fill='#6E95FA' d='M366.203 1.192l-20.818 64.072 4.928 1.6 20.818-64.07z')
              g(opacity='.55')
                path(fill='#02DFEC' d='M347.562 63.092l-23.041 63.306 32.464 11.816 23.042-63.306z' opacity='.198')
                path(fill='#6E95FA' d='M375.474 1.558l-23.042 63.307 14.61 5.317 23.04-63.306z' opacity='.198')
                path(fill='#02DFEC' d='M347.562 63.092l-23.041 63.306 4.87 1.773 23.04-63.306z')
                path(fill='#6E95FA' d='M375.474 1.558l-23.042 63.307 4.87 1.772L380.342 3.33z')
              g(opacity='.563')
                path(fill='#02DFEC' d='M354.688 62.53l-25.237 62.463 32.033 12.942L386.72 75.47z' opacity='.198')
                path(fill='#6E95FA' d='M384.73 2.007l-25.237 62.464 14.415 5.824L399.145 7.83z' opacity='.198')
                path(fill='#02DFEC' d='M354.688 62.53l-25.237 62.463 4.805 1.941 25.237-62.463z')
                path(fill='#6E95FA' d='M384.73 2.007l-25.237 62.464 4.804 1.94 25.237-62.463z')
              g(opacity='.575')
                path(fill='#02DFEC' d='M361.833 61.974l-27.401 61.545 31.561 14.052 27.402-61.545z' opacity='.198')
                path(fill='#6E95FA' d='M393.969 2.537l-27.402 61.545 14.203 6.324L408.172 8.86z' opacity='.198')
                path(fill='#02DFEC' d='M361.833 61.974l-27.401 61.545 4.734 2.108 27.401-61.545z')
                path(fill='#6E95FA' d='M393.969 2.537l-27.402 61.545 4.734 2.108 27.402-61.545z')
              g(opacity='.588')
                path(fill='#02DFEC' d='M368.998 61.428l-29.533 60.55 31.052 15.146 29.532-60.551z' opacity='.198')
                path(fill='#6E95FA' d='M403.188 3.149l-29.533 60.55 13.974 6.816L417.16 9.964z' opacity='.198')
                path(fill='#02DFEC' d='M368.998 61.428l-29.533 60.55 4.658 2.272 29.532-60.55z')
                path(fill='#6E95FA' d='M403.188 3.149l-29.533 60.55 4.658 2.272 29.532-60.55z')
              g(opacity='.6')
                path(fill='#02DFEC' d='M376.181 60.89l-31.628 59.484 30.504 16.22 31.628-59.484z' opacity='.198')
                path(fill='#6E95FA' d='M412.384 3.84l-31.627 59.483 13.727 7.3 31.628-59.484z' opacity='.198')
                path(fill='#02DFEC' d='M376.181 60.89l-31.628 59.484 4.576 2.433 31.628-59.484z')
                path(fill='#6E95FA' d='M412.384 3.84l-31.627 59.483 4.575 2.433L416.96 6.273z')
              g(opacity='.613')
                path(fill='#02DFEC' d='M383.383 60.363l-33.684 58.343 29.919 17.274 33.684-58.343z' opacity='.198')
                path(fill='#6E95FA' d='M421.555 4.611l-33.684 58.343 13.464 7.774 33.684-58.344z' opacity='.198')
                path(fill='#02DFEC' d='M383.383 60.363l-33.684 58.343 4.487 2.591 33.685-58.343z')
                path(fill='#6E95FA' d='M421.555 4.611l-33.684 58.343 4.487 2.591 33.685-58.343z')
              g(opacity='.625')
                path(fill='#02DFEC' d='M390.603 59.846l-35.7 57.133 29.298 18.307 35.7-57.132z' opacity='.198')
                path(fill='#6E95FA' d='M430.698 5.46l-35.7 57.132 13.184 8.24 35.7-57.133z' opacity='.198')
                path(fill='#02DFEC' d='M390.603 59.846l-35.7 57.133 4.395 2.746 35.7-57.133z')
                path(fill='#6E95FA' d='M430.698 5.46l-35.7 57.132 4.394 2.746 35.7-57.132z')
              g(opacity='.637')
                path(fill='#02DFEC' d='M397.841 59.34l-37.672 55.852 28.641 19.32 37.673-55.852z' opacity='.198')
                path(fill='#6E95FA' d='M439.81 6.387l-37.673 55.851 12.89 8.694 37.672-55.851z' opacity='.198')
                path(fill='#02DFEC' d='M397.841 59.34l-37.672 55.852 4.296 2.898 37.672-55.852z')
                path(fill='#6E95FA' d='M439.81 6.387l-37.673 55.851 4.296 2.898 37.673-55.851z')
              g(opacity='.65')
                path(fill='#02DFEC' d='M405.097 58.847l-39.599 54.502 27.95 20.307 39.599-54.502z' opacity='.198')
                path(fill='#6E95FA' d='M448.887 7.39L409.29 61.893l12.578 9.138 39.598-54.503z' opacity='.198')
                path(fill='#02DFEC' d='M405.097 58.847l-39.599 54.502 4.192 3.046 39.599-54.502z')
                path(fill='#6E95FA' d='M448.887 7.39L409.29 61.893l4.192 3.046 39.599-54.503z')
              g(opacity='.662')
                path(fill='#02DFEC' d='M412.37 58.365l-41.477 53.088 27.224 21.27 41.476-53.088z' opacity='.198')
                path(fill='#6E95FA' d='M457.929 8.468l-41.476 53.088 12.25 9.571L470.18 18.04z' opacity='.198')
                path(fill='#02DFEC' d='M412.37 58.365l-41.477 53.088 4.083 3.19 41.477-53.087z')
                path(fill='#6E95FA' d='M457.929 8.468l-41.476 53.088 4.083 3.19 41.476-53.088z')
              g(opacity='.675')
                path(fill='#02DFEC' d='M419.658 57.897l-43.304 51.607 26.465 22.207 43.304-51.607z' opacity='.198')
                path(fill='#6E95FA' d='M466.932 9.62l-43.304 51.608 11.91 9.993 43.303-51.608z' opacity='.198')
                path(fill='#02DFEC' d='M419.658 57.897l-43.304 51.607 3.97 3.331 43.304-51.607z')
                path(fill='#6E95FA' d='M466.932 9.62l-43.304 51.608 3.97 3.33L470.9 12.952z')
              g(opacity='.688')
                path(fill='#02DFEC' d='M426.963 57.442l-45.078 50.065 25.674 23.117 45.078-50.065z' opacity='.198')
                path(fill='#6E95FA' d='M475.893 10.844L430.814 60.91l11.554 10.403 45.079-50.065z' opacity='.198')
                path(fill='#02DFEC' d='M426.963 57.442l-45.078 50.065 3.85 3.467 45.08-50.065z')
                path(fill='#6E95FA' d='M475.893 10.844L430.814 60.91l3.851 3.467 45.079-50.064z')
              g(opacity='.7')
                path(fill='#02DFEC' d='M434.284 57l-46.798 48.462 24.851 23.999L459.136 81z' opacity='.198')
                path(fill='#6E95FA' d='M484.81 12.14L438.012 60.6l11.183 10.8 46.799-48.461z' opacity='.198')
                path(fill='#02DFEC' d='M434.284 57l-46.798 48.462 3.727 3.6L438.012 60.6z')
                path(fill='#6E95FA' d='M484.81 12.14L438.012 60.6l3.727 3.6 46.799-48.461z')
              g(opacity='.713')
                path(fill='#02DFEC' d='M441.62 56.574l-48.461 46.799 23.999 24.851 48.461-46.798z' opacity='.198')
                path(fill='#6E95FA' d='M493.681 13.503L445.22 60.302l10.8 11.183 48.46-46.798z' opacity='.198')
                path(fill='#02DFEC' d='M441.62 56.574l-48.461 46.799 3.6 3.727 48.46-46.798z')
                path(fill='#6E95FA' d='M493.681 13.503L445.22 60.302l3.6 3.728 48.46-46.799z')
              g(opacity='.725')
                path(fill='#02DFEC' d='M448.97 56.163l-50.064 45.079 23.117 25.674 50.065-45.079z' opacity='.198')
                path(fill='#6E95FA' d='M502.503 14.935l-50.065 45.08 10.403 11.553 50.065-45.079z' opacity='.198')
                path(fill='#02DFEC' d='M448.97 56.163l-50.064 45.079 3.467 3.85 50.065-45.078z')
                path(fill='#6E95FA' d='M502.503 14.935l-50.065 45.08 3.467 3.85 50.065-45.079z')
              g(opacity='.738')
                path(fill='#02DFEC' d='M456.335 55.768L404.728 99.07l22.207 26.466 51.607-43.304z' opacity='.198')
                path(fill='#6E95FA' d='M511.274 16.433l-51.608 43.304 9.994 11.91 51.607-43.304z' opacity='.198')
                path(fill='#02DFEC' d='M456.335 55.768L404.728 99.07l3.33 3.97 51.608-43.304z')
                path(fill='#6E95FA' d='M511.274 16.433l-51.608 43.304 3.331 3.97 51.608-43.304z')
              g(opacity='.75')
                path(fill='#02DFEC' d='M463.713 55.388l-53.087 41.477 21.27 27.224 53.087-41.477z' opacity='.198')
                path(fill='#6E95FA' d='M519.991 17.995l-53.087 41.477 9.572 12.25 53.087-41.476z' opacity='.198')
                path(fill='#02DFEC' d='M463.713 55.388l-53.087 41.477 3.19 4.083 53.088-41.476z')
                path(fill='#6E95FA' d='M519.991 17.995l-53.087 41.477 3.19 4.083 53.088-41.477z')
              g(opacity='.762')
                path(fill='#02DFEC' d='M471.105 55.025l-54.503 39.599 20.307 27.95 54.502-39.599z' opacity='.198')
                path(fill='#6E95FA' d='M528.653 19.619l-54.502 39.599 9.138 12.577 54.502-39.598z' opacity='.198')
                path(fill='#02DFEC' d='M471.105 55.025l-54.503 39.599 3.046 4.192 54.503-39.598z')
                path(fill='#6E95FA' d='M528.653 19.619l-54.502 39.599 3.045 4.192L531.7 23.81z')
              g(opacity='.775')
                path(fill='#02DFEC' d='M478.508 54.68l-55.851 37.672 19.319 28.641 55.851-37.672z' opacity='.198')
                path(fill='#6E95FA' d='M537.257 21.303l-55.851 37.672 8.694 12.89 55.851-37.673z' opacity='.198')
                path(fill='#02DFEC' d='M478.508 54.68l-55.851 37.672 2.897 4.296 55.852-37.673z')
                path(fill='#6E95FA' d='M537.257 21.303l-55.851 37.672 2.898 4.296L540.155 25.6z')
              g(opacity='.787')
                path(fill='#02DFEC' d='M485.923 54.35l-57.132 35.701L447.1 119.35l57.132-35.7z' opacity='.198')
                path(fill='#6E95FA' d='M545.802 23.045l-57.133 35.7 8.24 13.185 57.131-35.7z' opacity='.198')
                path(fill='#02DFEC' d='M485.923 54.35l-57.132 35.701 2.746 4.395 57.132-35.7z')
                path(fill='#6E95FA' d='M545.802 23.045l-57.133 35.7 2.746 4.395 57.133-35.7z')
              g(opacity='.8')
                path(fill='#02DFEC' d='M493.35 54.04l-58.343 33.685 17.274 29.92 58.343-33.685z' opacity='.198')
                path(fill='#6E95FA' d='M554.284 24.844l-58.343 33.684 7.773 13.464 58.344-33.684z' opacity='.198')
                path(fill='#02DFEC' d='M493.35 54.04l-58.343 33.685 2.59 4.488 58.344-33.685z')
                path(fill='#6E95FA' d='M554.284 24.844l-58.343 33.684 2.59 4.488 58.344-33.685z')
              g(opacity='.813')
                path(fill='#02DFEC' d='M500.787 53.748l-59.484 31.628 16.22 30.504 59.483-31.628z' opacity='.198')
                path(fill='#6E95FA' d='M562.703 26.696L503.22 58.323l7.298 13.728 59.484-31.628z' opacity='.198')
                path(fill='#02DFEC' d='M500.787 53.748l-59.484 31.628 2.433 4.575 59.484-31.628z')
                path(fill='#6E95FA' d='M562.703 26.696L503.22 58.323l2.432 4.576 59.484-31.628z')
              g(opacity='.825')
                path(fill='#02DFEC' d='M508.234 53.474l-60.551 29.533 15.145 31.051 60.55-29.532z' opacity='.198')
                path(fill='#6E95FA' d='M571.056 28.6l-60.55 29.532 6.815 13.973 60.55-29.532z' opacity='.198')
                path(fill='#02DFEC' d='M508.234 53.474l-60.551 29.533 2.271 4.658 60.551-29.533z')
                path(fill='#6E95FA' d='M571.056 28.6l-60.55 29.532 2.27 4.657 60.552-29.532z')
              g(opacity='.838')
                path(fill='#02DFEC' d='M515.69 53.22l-61.545 27.4 14.052 31.562 61.545-27.401z' opacity='.198')
                path(fill='#6E95FA' d='M579.342 30.552l-61.545 27.401 6.324 14.203 61.545-27.401z' opacity='.198')
                path(fill='#02DFEC' d='M515.69 53.22l-61.545 27.4 2.108 4.735 61.544-27.402z')
                path(fill='#6E95FA' d='M579.342 30.552l-61.545 27.401 2.108 4.734 61.545-27.401z')
              g(opacity='.85')
                path(fill='#02DFEC' d='M523.154 52.984L460.691 78.22l12.942 32.032 62.463-25.237z' opacity='.198')
                path(fill='#6E95FA' d='M587.559 32.552l-62.463 25.237 5.824 14.414 62.463-25.236z' opacity='.198')
                path(fill='#02DFEC' d='M523.154 52.984L460.691 78.22l1.941 4.804 62.464-25.236z')
                path(fill='#6E95FA' d='M587.559 32.552l-62.463 25.237 1.94 4.804L589.5 37.356z')
              g(opacity='.863')
                path(fill='#02DFEC' d='M530.627 52.768L467.32 75.809l11.816 32.465 63.306-23.042z' opacity='.198')
                path(fill='#6E95FA' d='M595.705 34.596L532.4 57.637l5.318 14.61 63.306-23.042z' opacity='.198')
                path(fill='#02DFEC' d='M530.627 52.768L467.32 75.809l1.772 4.87 63.306-23.042z')
                path(fill='#6E95FA' d='M595.705 34.596L532.4 57.637l1.773 4.87 63.306-23.042z')
              g(opacity='.875')
                path(fill='#02DFEC' d='M538.107 52.572L474.035 73.39l10.676 32.857 64.071-20.818z' opacity='.198')
                path(fill='#6E95FA' d='M603.78 36.682L539.708 57.5l4.804 14.786 64.072-20.818z' opacity='.198')
                path(fill='#02DFEC' d='M538.107 52.572L474.035 73.39l1.601 4.928L539.708 57.5z')
                path(fill='#6E95FA' d='M603.78 36.682L539.708 57.5l1.601 4.928 64.072-20.818z')
              g(opacity='.887')
                path(fill='#02DFEC' d='M545.593 52.395l-64.76 18.57 9.523 33.21 64.76-18.57z' opacity='.198')
                path(fill='#6E95FA' d='M611.78 38.807l-64.759 18.57 4.285 14.944 64.76-18.57z' opacity='.198')
                path(fill='#02DFEC' d='M545.593 52.395l-64.76 18.57 1.429 4.98 64.76-18.569z')
                path(fill='#6E95FA' d='M611.78 38.807l-64.759 18.57 1.428 4.98 64.76-18.569z')
              g(opacity='.9')
                path(fill='#02DFEC' d='M553.085 52.24l-65.368 16.297 8.358 33.522 65.368-16.298z' opacity='.198')
                path(fill='#6E95FA' d='M619.706 40.97l-65.368 16.297 3.762 15.085 65.367-16.298z' opacity='.198')
                path(fill='#02DFEC' d='M553.085 52.24l-65.368 16.297 1.254 5.028 65.367-16.298z')
                path(fill='#6E95FA' d='M619.706 40.97l-65.368 16.297 1.254 5.028 65.368-16.298z')
              g(opacity='.912')
                path(fill='#02DFEC' d='M560.582 52.104L494.685 66.11l7.183 33.793 65.897-14.006z' opacity='.198')
                path(fill='#6E95FA' d='M627.556 43.165L561.66 57.172l3.233 15.208 65.896-14.007z' opacity='.198')
                path(fill='#02DFEC' d='M560.582 52.104L494.685 66.11l1.077 5.07 65.897-14.008z')
                path(fill='#6E95FA' d='M627.556 43.165L561.66 57.172l1.078 5.069 65.896-14.007z')
              g(opacity='.925')
                path(fill='#02DFEC' d='M568.083 51.988l-66.345 11.699 5.999 34.023 66.346-11.698z' opacity='.198')
                path(fill='#6E95FA' d='M635.329 45.393l-66.346 11.699 2.7 15.31 66.345-11.698z' opacity='.198')
                path(fill='#02DFEC' d='M568.083 51.988l-66.345 11.699.9 5.103 66.345-11.698z')
                path(fill='#6E95FA' d='M635.329 45.393l-66.346 11.699.9 5.103 66.346-11.699z')
              g(opacity='.938')
                path(fill='#02DFEC' d='M575.588 51.894l-66.713 9.376 4.808 34.212 66.714-9.376z' opacity='.198')
                path(fill='#6E95FA' d='M643.023 47.65l-66.713 9.376 2.163 15.395 66.714-9.376z' opacity='.198')
                path(fill='#02DFEC' d='M575.588 51.894l-66.713 9.376.721 5.132 66.714-9.376z')
                path(fill='#6E95FA' d='M643.023 47.65l-66.713 9.376.72 5.131 66.714-9.376z')
              g(opacity='.95')
                path(fill='#02DFEC' d='M583.097 51.82l-67 7.043 3.61 34.358 67-7.042z' opacity='.198')
                path(fill='#6E95FA' d='M650.638 49.932l-67 7.042 1.625 15.462 67-7.042z' opacity='.198')
                path(fill='#02DFEC' d='M583.097 51.82l-67 7.043.541 5.153 67-7.042z')
                path(fill='#6E95FA' d='M650.638 49.932l-67 7.042.542 5.154 67-7.042z')
              g(opacity='.963')
                path(fill='#02DFEC' d='M590.607 51.768l-67.205 4.7 2.41 34.463 67.205-4.7z' opacity='.198')
                path(fill='#6E95FA' d='M658.173 52.238l-67.205 4.7 1.085 15.509 67.205-4.7z' opacity='.198')
                path(fill='#02DFEC' d='M590.607 51.768l-67.205 4.7.361 5.169 67.205-4.7z')
                path(fill='#6E95FA' d='M658.173 52.238l-67.205 4.7.362 5.169 67.205-4.7z')
              g(opacity='.975')
                path(fill='#02DFEC' d='M598.119 51.737l-67.328 2.35 1.205 34.528 67.328-2.352z' opacity='.198')
                path(fill='#6E95FA' d='M665.627 54.564L598.3 56.915l.543 15.538 67.328-2.351z' opacity='.198')
                path(fill='#02DFEC' d='M598.119 51.737l-67.328 2.35.18 5.18 67.328-2.352z')
                path(fill='#6E95FA' d='M665.627 54.564L598.3 56.915l.181 5.18 67.328-2.352z')
              g(opacity='.988')
                path(fill='#02DFEC' d='M605.631 51.726h-67.369v34.548h67.369z' opacity='.198')
                path(fill='#6E95FA' d='M673 56.908h-67.369v15.547H673z' opacity='.198')
                path(fill='#02DFEC' d='M605.631 51.726h-67.369v5.182h67.369z')
                path(fill='#6E95FA' d='M673 56.908h-67.369v5.182H673z')
