extends ./layouts/master.pug

block title
  title Injective protocol - Home

//- block manifestBrowserconfigFiles
//-   link(href='../manifest.json', rel='manifest')
//-   meta(name='msapplication-config' content='../browserconfig.xml')

block content

  //- Home page
  section.page.home__page
