.parts {
  position: relative;
}

.parts-container {
  position: relative;
  top: -50px;
  left: 40px;
  right: 0;
  height: 530px;
  margin: auto;
  z-index: 1;
  transition: all 0.25s ease-out;
}

.part {
  position: absolute;
  animation-name: floating;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  &.laptop {
    max-width: 100%;
    display: block;
  }

  &.screen2 {
    top: -40px;
    left: 20px;
    z-index: 1;
    max-width: 61%;
    animation-duration: 7s;
  }

  &.screen1 {
    top: -30px;
    left: 50px;
    z-index: 2;
    max-width: 56%;
    animation-duration: 6s;
  }

  &.lock {
    left: 0;
    bottom: 20px;
    z-index: 2;
    width: 137px;
    animation-duration: 6.5s;
  }

  &.shield {
    bottom: 80px;
    right: -10px;
    z-index: 2;
    width: 178px;
    animation-duration: 5.5s;
  }

  &.key {
    right: 50px;
    bottom: 70px;
    z-index: 2;
    width: 175px;
    animation-duration: 5s;
  }
}

.wires {
  position: absolute;
  top: 80px;
}
.wires path {
  stroke-dasharray: 680;
  stroke-dashoffset: 680;
  animation: dash 4s ease-out infinite alternate;
}
.wires--left {
  left: 0;
}
.wires--right {
  right: 0;
  transform: scaleX(-1);
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
