@font-face {
  font-family: 'Titillium Web';
  src: url('./../fonts/TitilliumWeb-Italic.eot');
  src: url('./../fonts/TitilliumWeb-Italic.eot?#iefix')
      format('embedded-opentype'),
    url('./../fonts/TitilliumWeb-Italic.woff2') format('woff2'),
    url('./../fonts/TitilliumWeb-Italic.woff') format('woff'),
    url('./../fonts/TitilliumWeb-Italic.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('./../fonts/TitilliumWeb-Regular.eot');
  src: url('./../fonts/TitilliumWeb-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('./../fonts/TitilliumWeb-Regular.woff2') format('woff2'),
    url('./../fonts/TitilliumWeb-Regular.woff') format('woff'),
    url('./../fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('./../fonts/TitilliumWeb-Black.eot');
  src: url('./../fonts/TitilliumWeb-Black.eot?#iefix')
      format('embedded-opentype'),
    url('./../fonts/TitilliumWeb-Black.woff2') format('woff2'),
    url('./../fonts/TitilliumWeb-Black.woff') format('woff'),
    url('./../fonts/TitilliumWeb-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('./../fonts/TitilliumWeb-Bold.eot');
  src: url('./../fonts/TitilliumWeb-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('./../fonts/TitilliumWeb-Bold.woff2') format('woff2'),
    url('./../fonts/TitilliumWeb-Bold.woff') format('woff'),
    url('./../fonts/TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('./../fonts/TitilliumWeb-SemiBold.eot');
  src: url('./../fonts/TitilliumWeb-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('./../fonts/TitilliumWeb-SemiBold.woff2') format('woff2'),
    url('./../fonts/TitilliumWeb-SemiBold.woff') format('woff'),
    url('./../fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
