/* src/assets/styles/layout/_general.scss  */

* {
  box-sizing: border-box;
  outline: none;
}
.pattern-background {
  background: $patternLines;
}
body {
  @extend .pattern-background;
  font-family: $barlow;
  background-color: $dark-navy-blue;
  color: white;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}


// Text
.upper {
  text-transform: uppercase;
}

// Pseudo-element 100%
.pseudo-100 {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

// Flip x
.flip-x {
  transform: scaleX(-1);
}
// Flip y
.flip-y {
  transform: scaleY(-1);
}

// Responsive
@media screen and(max-width:  720px) {
  body {
    padding-bottom: 50px;
  }
}
