/* src/assets/styles/layout/_general.scss  */

* {
  box-sizing: border-box;
  outline: none;
}
.pattern-background {
  background-image: linear-gradient(90deg, rgba(255,255,255,0.1) 1px, transparent 1px);
  background-size: 180px;
  background-position: 50px;
}
html,
body {
  height: 100%;
}
body {
  @extend .pattern-background;
  font-family: $barlow;
  background-color: $dark-navy-blue;
  color: white;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}


// Text
.upper {
  text-transform: uppercase;
}
