//- src/views/components/footer.pug

footer.footer
  .menu__container
    span.menu__logo
      a.menu__link(href='/')
        img.menu__logo-img(src=require('images/logo.png'), title='Injective Procotol', alt='Injective Procotol')
      span.copyright &copy; Injective Protocol Inc. 2020
    .menu__right
      ul.menu__ul
        li.menu__item#contact
          a.menu__link.a(href='mailto:contact@injectiveprotocol.com') contact@injectiveprotocol.com
        li.menu__item
          a.menu__link.a(href='https://t.me/joininjective') Telegram
        li.menu__item
          a.menu__link.a(href='https://www.reddit.com/r/injective/') Reddit
        li.menu__item
        a.menu__link.a(href='https://twitter.com/InjectiveLabs') Twitter