//- src/views/components/menu.pug

mixin menu()
  nav.menu()
    .menu__container
      span.menu__logo
        a.menu__link(href='/')
          img.menu__logo-img(src=require('images/logo.png'), title='Injective Procotol', alt='Injective Procotol')
      .menu__right
        ul.menu__ul
          li.menu__item
            a.menu__link.scrollto(href='#exchange') Exchange
          li.menu__item
            a.menu__link.scrollto(href='#team') Team
          li.menu__item
            a.menu__link.highlighted.scrollto(href='#contact-us') Contact us
          li.menu__item
            a.menu__link.a(href='https://docsend.com/view/zdj4n2d') Whitepaper            
          li.menu__item
            a.menu__link.a(href='https://t.me/joininjective') Telegram
